@import "o-assets/main";
@import "o-useragent/main";
@import "../../../src/scss/_variables";
@import "../../../src/scss/_utils";
@import "../../../src/scss/_selectors";
@import "../../../src/scss/_grid-generators";

$o-assets-global-path: "/";
$o-grid-assets-path: null;
$o-grid-is-silent: false;

@import "../../../src/scss/components/grid-default";

$o-grid-test-sizes: S M L XL;

@each $size in $o-grid-test-sizes {
	.gut-#{$size} {
	@extend %o-grid-no-gutter-#{$size} !optional;
	}
	.gut-l-#{$size} {
		@extend %o-grid-no-left-gutter-#{$size} !optional;
	}
	.gut-r-#{$size} {
		@extend %o-grid-no-right-gutter-#{$size} !optional;
	}
}

.gut {
	@extend %o-grid-no-gutter !optional;
}
.gut-l {
	@extend %o-grid-no-left-gutter !optional;
}
.gut-r {
	@extend %o-grid-no-right-gutter !optional;
}

@import "../docs";