@include describe('oGrid - fluid') {
	@include describe('function: oGridColspan') {
		@include it('should return the number (%) of the width of the element in a 12 column grid (default)') {
			@include assert-equal(oGridColspan(1/2), (50%));
			@include assert-equal(oGridColspan(1/4), (25%));
			@include assert-equal(round(oGridColspan(1/3)), round((33.33333%)));
			@include assert-equal(round(oGridColspan(2/3)), round((66.66667%)));
			@include assert-equal(round(oGridColspan(1)), round((8.33333%)));
			@include assert-equal(round(oGridColspan(2)), round((16.66667%)));
			@include assert-equal(oGridColspan(3), (25%));
			@include assert-equal(round(oGridColspan(4)), round((33.33333%)));
			@include assert-equal(round(oGridColspan(5)), round((41.66667%)));
			@include assert-equal(oGridColspan(6), (50%));
			@include assert-equal(round(oGridColspan(7)), round((58.33333%)));
			@include assert-equal(round(oGridColspan(8)), round((66.66667%)));
			@include assert-equal(oGridColspan(9), (75%));
			@include assert-equal(round(oGridColspan(10)), round((83.33333%)));
			@include assert-equal(round(oGridColspan(11)), round((91.666673%)));
			@include assert-equal(oGridColspan(12), (100%));
		};
	};

	@include describe('function: oGridGutter') {
		@include it('should return the default gutter') {
			@include assert-equal(oGridGutter(), (10px));
		};
		@include it('should return the gutter for M<') {
			@include assert-equal(oGridGutter(M), (20px));
		};
	};

	@include describe('function: oGridGetMaxWidthForLayout') {
		@include it('gets the max width for S') {
			@include assert-equal(oGridGetMaxWidthForLayout(S), (740px));
		};

		@include it('gets the max width for M') {
			@include assert-equal(oGridGetMaxWidthForLayout(M), (980px));
		};

		@include it('gets the max width for L') {
			@include assert-equal(oGridGetMaxWidthForLayout(L), (1220px));
		};

		@include it('gets the max width for XL') {
			@include assert-equal(oGridGetMaxWidthForLayout(XL), (1220px));
		};
	};

	@include describe('mixin: oGridColspan') {
		@include test('sass mixin complies base column styles') {
			@include assert() {
				@include output($selector: false) {
					.test-colspan {
						@include oGridColspan();
					}
				};

				@include expect($selector: false) {
					.test-colspan {
						position: relative;
						float: left;
						flex: 1 1 0%;
						/*autoprefixer: off*/
						// sass-lint:disable no-vendor-prefixes
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						// sass-lint:enable no-vendor-prefixes
						padding-left: 10px;
					}

					@media \0screen {
						.test-colspan {
							min-width: 0 !important; // sass-lint:disable-line no-important
						}
					}

					@media (min-width: 46.25em) {
						.test-colspan {
							padding-left: 20px;
						}
					}

					@media \0screen {
						.test-colspan {
							padding-left: 20px;
						}
					}
				};
			};
		};

		@include test('sass mixin complies for a column span of 3 and width only') {
			@include assert() {
				@include output($selector: false) {
					.test-colspan {
						@include oGridColspan($span: 3, $width-only: true);
					}
				};

				@include expect($selector: false) {
					.test-colspan {
						display: block;
						flex-basis: 25%;
						min-width: 25%;
						max-width: 25%;
						width: 25%;
					}
				};
			};
		};
	};

	@include describe('mixin: oGridPull') {
		@include test('pull grid to right by # of column') {
			@include assert()  {
				@include output($selector: false) {
					.test-pull {
					 	@include oGridPull(3);
					}
				};

				@include expect($selector: false) {
					.test-pull {
						right: 25%;
						left: auto;
					}
				};
			};
		};
	};

	@include describe('mixin: oGridPush') {
		@include test('push grid to left by # of columns') {
			@include assert()  {
				@include output($selector: false) {
					.test-pull {
					 	@include oGridPush(3);
					}
				};

				@include expect($selector: false) {
					.test-pull {
						left: 25%;
						right: auto;
					}
				};
			};
		};
	};

	@include describe('mixin: oGridRow') {
		@include test('sass mixin complies correctly') {
			@include assert() {
				@include output($selector: false) {
					.test-row {
						@include oGridRow();
					}
				};

				@include expect($selector: false) {
					.test-row {
						clear: both;
						flex-wrap: wrap;
						display: flex;
						margin-left: -10px;
						zoom: 1;
					}

					@media print {
						.test-row {
							display: inherit;
						}
					}

					@media (min-width: 46.25em) {
						.test-row  {
							margin-left: -20px;
						}
					}

					@media \0screen {
						.test-row {
							margin-left: -20px;
						}
					}

					.test-row:before,
					.test-row:after {
						content: '';
						// sass-lint:disable no-duplicate-properties
						display: table;
						display: flex;
						// sass-lint:enable no-duplicate-properties
					}

					.test-row:after {
						clear: both;
					}
				};
			};
		};
	}

	@include describe('mixin: oGridRespondTo') {
		@include test('sass mixin complies correct media query for <S') {
			@include assert() {
				@include output {
					@include oGridRespondTo($until: S) {
						background: peachpuff;
					};
				};

				@include expect {
					@media (max-width: 30.615em) {
						background: peachpuff;
					};
				};
			};
		};

		@include test('sass mixin complies correct media query for S<') {
			@include assert() {
				@include output {
					@include oGridRespondTo(S) {
						background: peachpuff;
					};
				};

				@include expect {
					@media (min-width: 30.625em) {
						background: peachpuff;
					};
				};
			};
		};

		@include test('sass mixin complies correct media query S< >M') {
			@include assert() {
				@include output {
					@include oGridRespondTo($from: S, $until: M) {
						background: peachpuff;
					};
				};

				@include expect {
					@media (min-width: 30.625em) and (max-width: 46.24em) {
						background: peachpuff;
					};
				};
			};
		};

		@include test('sass mixin complies correct media query S< >M') {
			@include assert() {
				@include output {
					@include oGridRespondTo($from: S, $until: M) {
						background: peachpuff;
					};
				};

				@include expect {
					@media (min-width: 30.625em) and (max-width: 46.24em) {
						background: peachpuff;
					};
				};
			};
		};

		@include test('sass mixin complies correct media query >M') {
			@include assert() {
				@include output {
					@include oGridRespondTo($until: M) {
						background: peachpuff;
					};
				};

				@include expect {
					@media (max-width: 46.24em) {
						background: peachpuff;
					};
				};
			};
		};

		@include test('sass mixin complies correct media query M< >L') {
			@include assert() {
				@include output {
					@include oGridRespondTo($from: M, $until: L) {
						background: peachpuff;
					};
				};

				@include expect {
					@media (min-width: 46.25em) and (max-width: 61.24em) {
						background: peachpuff;
					};
				};
			};
		};

		@include test('sass mixin complies correct media query >L') {
			@include assert() {
				@include output {
					@include oGridRespondTo(L) {
						background: peachpuff;
					};
				};

				@include expect {
					@media (min-width: 61.25em) {
						background: peachpuff;
					};
				};
			};
		};

		@include test('sass mixin complies correct media query L< >XL') {
			@include assert() {
				@include output {
					@include oGridRespondTo($from: L, $until: XL) {
						background: peachpuff;
					};
				};

				@include expect {
					@media (min-width: 61.25em) and (max-width: 76.24em) {
						background: peachpuff;
					};
				};
			};
		};

		@include test('sass mixin complies correct media query XL<') {
			@include assert() {
				@include output {
					@include oGridRespondTo(XL) {
						background: peachpuff;
					};
				};

				@include expect {
					@media (min-width: 76.25em) {
						background: peachpuff;
					};
				};
			};
		};
	};
};
