
{{#each example}}
	
	<div class="example">

		<div class="grid-row">

			<div class="grid-col-d12">
				<h2 class="example-title">{{title}}</h2>
				<p class="example-description">{{{description}}}</p>
			</div>

			{{#each this.columns}}
				{{> column}}
			{{/each}}

		</div>

	</div>

{{/each}}