
{{#each example}}
	
	<div class="example">

		{{#wrapper}}
			{{{start}}}
		{{/wrapper}}
		{{^wrapper}}
			<div class="ft-grid-row">
		{{/wrapper}}
			<div class="ft-grid-col-d12">
				<h2 class="example-title">{{title}}</h2>
				<p class="example-description">{{{description}}}</p>
			</div>

			{{#each this.columns}}
				{{> column}}
			{{/each}}

		{{#wrapper}}
			{{{end}}}
		{{/wrapper}}
		{{^wrapper}}
			</div>
		{{/wrapper}}

	</div>

{{/each}}