@import 'src/scss/variables';
@import 'sass-mq/mq';
@import 'src/scss/main';

/// Output debug information about the currently loaded layouts
///
/// @param {Map} $layouts - Map of layouts
/// @requires {Variable} $o-grid-layouts
@mixin oGridDebugInfo($layouts: $o-grid-layouts) {
	$debug-layouts: '';
	$linebreak: '
' + ' * ';

	@each $layout in $layouts {
		$debug-layouts: $debug-layouts + $layout + $linebreak;
	}

	/*! DEBUG
	 * Layouts:
	 * #{$debug-layouts}
	 */
}

@if $o-grid-debug-mode {
	@include oGridDebugInfo;
	@include mq-show-breakpoints($_o-grid-layout-names, $o-grid-layouts);
}

/// Surface the layout currently displayed to make it readable in JS
/// In IE 8, assume it is $o-grid-fixed-layout
///
/// @example js
///  var getCurrentLayout = require('o-grid/src/js/getCurrentLayout');
///  var currentLayout = getCurrentLayout; // One of $o-grid-layouts
///
/// @requires {Variable} $_o-grid-layout-names
@mixin oGridSurfaceCurrentLayout {
	head:after {
		content: 'XS'; // By default, we're exposing the XS layout (from 0 to S)
		// Hide content visually
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;

		@each $breakpoint in $_o-grid-layout-names {
			@include oGridRespondTo($breakpoint) {
				content: quote($breakpoint);
			}
		}
	}
}

@if $o-grid-is-silent == false {
	@include oGridSurfaceCurrentLayout;
	@include oGridGenerate;
}
