////
/// @group o-grid
/// @link http://registry.origami.ft.com/components/o-grid
////

@import 'src/scss/variables';
@import 'sass-mq/mq';
@import 'src/scss/main';

/// Output debug information about the currently loaded layouts.
///
/// @param {Map} $layouts - Map of layouts
@mixin oGridDebugInfo($layouts: $o-grid-layouts) {
	/*! DEBUG
	 * Layouts:
	 * #{inspect($layouts)}
	 */
}

@if $o-grid-debug-mode {
	@include oGridDebugInfo;
	@include mq-show-breakpoints($_o-grid-layout-names, $o-grid-layouts);
}

/// Surface the layout currently displayed to make it readable in JS.
///
/// In IE 8, assume it is `$o-grid-fixed-layout` (`L`).
///
/// **n.b.:** Only works when silent mode is off.
///
/// @example js
///  // your-app/main.js
///  var getCurrentLayout = require('o-grid').getCurrentLayout;
///
///  // Return the current layout (e.g. default, S, M, L, XL)
///  console.log(getCurrentLayout());
@mixin oGridSurfaceCurrentLayout {
	html:after {
		content: 'default'; // Default layout. Typically from 0px to S
		display: none;

		@each $breakpoint in $_o-grid-layout-names {
			@include oGridRespondTo($breakpoint) {
				content: quote($breakpoint);
			}
		}
	}
}

@if $o-grid-is-silent == false {
	@include oGridSurfaceCurrentLayout;
	@include oGridGenerate;

	// Turn silent mode back on to avoid outputting the grid twice
	$o-grid-is-silent: true;
}
