html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.o-grid-row,
.o-grid-box,
.o-grid-page {
	margin: 0 auto;
}

.o-grid-row {
	clear: both;
	width: 100%;
}

.o-grid-row:after {
	content: '';
	display: block;
	clear: both;
}


@if ($o-grid-is-fixed-desktop) {
	$o-grid-fixed-layout-selector: null;
	$o-grid-fixed-layout-useragents: null;
}

@if ($o-grid-fixed-layout-selector) {
	$o-grid-fixed-layout-useragents: null;
}

@if (not($o-grid-is-fixed-desktop and not $o-grid-is-responsive)) {
	.o-grid-row,
	.o-grid-page  {
		max-width: $o-grid-small-max-width; 
		min-width: $o-grid-min-width;
	}

	.o-grid-row .o-grid-row,
	.o-grid-box .o-grid-row {
		margin-left: -$o-grid-default-half-gutter;
		margin-right: -$o-grid-default-half-gutter;
		width: auto;
		max-width: none; // needed for .grid-box .grid-row
		min-width: 0;
	}
	
	[class*="o-grid-col"] {
		float: left;
		padding-left: $o-grid-default-half-gutter;
		padding-right: $o-grid-default-half-gutter;
	}

	@include oGridAddCompactOverrides();
	
	@include oGridDefineDefaultColumns(12);

	@include oGridAddGutterOverrides(s, true);
	
}