@if ($ft-grid-is-responsive or $ft-grid-is-fixed-desktop) {
	@if ($ft-grid-is-fixed-desktop) {
		$ft-grid-fixed-layout-selector: null;
	}
	@include wrapInSelector ($ft-grid-fixed-layout-selector) {

		.#{$ft-grid-row},
		.#{$ft-grid-page} {
			width: $ft-grid-large-max-width;
			max-width: $ft-grid-large-max-width;
		}

		.#{$ft-grid-row} .#{$ft-grid-row},
		.#{$ft-grid-box} .#{$ft-grid-row} {
			margin-left: -$ft-grid-fixed-half-gutter;
			margin-right: -$ft-grid-fixed-half-gutter;
			width: auto;
		}

		%ft-grid-no-left-gutter,
		%ft-grid-no-left-gutter-l {
			margin-left: -$ft-grid-fixed-half-gutter;
		}

		%ft-grid-no-right-gutter,
		%ft-grid-no-right-gutter-l {
			margin-right: -$ft-grid-fixed-half-gutter;
		}

		[class*="#{$ft-grid-column}"] {
			float: left;
			padding-left: $ft-grid-fixed-half-gutter;
			padding-right: $ft-grid-fixed-half-gutter;
			@include boxSizing(border-box);
		}

		@include ftGridColumnWidths($ft-grid-default);
		@include ftGridColumnWidths($ft-grid-large);

		[class*="-#{$ft-grid-small}12"],
		%ft-grid-s12 {
			clear: none;
		}
	}
}