@if ($ftGridIsResponsive and not $ftGridIsFixedDesktop) {
	/* Override fixed defaults for responsive grid */
	@media screen {

		.#{$ftGridRow} .#{$ftGridRow},
		.#{$ftGridBox} .#{$ftGridRow} {
			margin-left: -$ftGridResponsiveHalfGutter;
			margin-right: -$ftGridResponsiveHalfGutter;
			width: auto;
		}

		%ftGridNoLeftGutter {
			margin-left: -$ftGridResponsiveHalfGutter;
		}

		%ftGridNoRightGutter {
			margin-right: -$ftGridResponsiveHalfGutter;
		}

		[class*="#{$ftGridColumn}"] {
			float: left;
			padding-left: $ftGridResponsiveHalfGutter;
			padding-right: $ftGridResponsiveHalfGutter;
			@include boxSizing(border-box);
		}


		// Following rules undo styles applied by the fixed grid
		[class*="-#{$ftGridSmall}0"],
		[class*="-#{$ftGridSmall}hide"]  {
		    display: block;
		}

		[class*="-#{$ftGridSmall}12"] {
		    clear: none;
		}

		@for $colWidth from 0 through 12 {
					
			[class*="-#{$ftGridSmall}#{$colWidth}"] {
				width: auto;
			}
		}
	}

	@include ftGridDefineLayout($ftGridDefault, null);

	@for $i from 1 through 4 {
		@include ftGridDefineLayout(nth($ftGridLayoutShorthands, $i), nth($ftGridMaxWidths, $i));
	}
}