@if ($ftGridIsResponsive) {
	/* Override fixed defaults for responsive grid */
	@media screen {

		.#{$ftGridRow} .#{$ftGridRow},
		.#{$ftGridBox} .#{$ftGridRow} {
			margin-left: -$ftGridResponsiveHalfGutter;
			margin-right: -$ftGridResponsiveHalfGutter;
			width: auto;
		}

		[class*="#{$ftGridColumn}"] {
			float: left;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			padding-left: $ftGridResponsiveHalfGutter;
			padding-right: $ftGridResponsiveHalfGutter;
		}


		// Following rules undo styles applied by the fixed grid
		[class*="-#{$ftGridSmall}0"],
		[class*="-#{$ftGridSmall}hide"]  {
		    display: block;
		}

		[class*="-#{$ftGridSmall}12"] {
		    clear: none;
		}

	}

	@include ftGridDefineLayout($ftGridDefault, null);

	@for $i from 1 through 4 {
		@include ftGridDefineLayout(nth($ftGridLayoutShorthands, $i), nth($ftGridMaxWidths, $i));
	}
}