@if ($o-grid-is-responsive and not $o-grid-is-fixed-desktop) {
	/* Override fixed defaults for responsive grid */
	@media screen {

		.o-grid-row .o-grid-row,
		.o-grid-box .o-grid-row {
			margin-left: -$o-grid-responsive-half-gutter;
			margin-right: -$o-grid-responsive-half-gutter;
			width: auto;
		}

		[class*="o-grid-col"] {
			float: left;
			padding-left: $o-grid-responsive-half-gutter;
			padding-right: $o-grid-responsive-half-gutter;
			@include oBoxSizing(border-box);
		}

		// Following rules undo styles applied by the fixed grid
		[class*="|s0|"],
		[class*="|shide|"],
		%o-grid-s0,
		%o-grid-shide  {
		    display: block;
		}

		[class*="|s12|"],
		%o-grid-s12 {
		    clear: none;
		}

		$aggregatedSelector: null;			

		@for $colWidth from 0 through 12 {

			$attrSelector: #{'[class*="|s#{$colWidth}|"]'};
			$placeholderSelector: #{'%o-grid-s#{$colWidth}'};

			// generates a comma separated selector for each of the column widths from 1 to 11
			@if ($aggregatedSelector) {
				$aggregatedSelector: append($aggregatedSelector, $attrSelector, comma);
				$aggregatedSelector: append($aggregatedSelector, $placeholderSelector, comma);
			} @else {
				$aggregatedSelector: $attrSelector, $placeholderSelector;
			}
			
		}

		#{$aggregatedSelector} {
			width: auto;
		}
	

		%o-grid-no-gutter,
		%o-grid-no-left-gutter {
			padding-left: 0;

			&> .o-grid-row {
				margin-left: 0;
			}
		}

		%o-grid-no-gutter,
		%o-grid-no-right-gutter {
			padding-right: 0;

			&> .o-grid-row {
				margin-right: 0;
			}
		}
	}

	@include oGridDefineLayout(default, null);

	@for $i from 1 through 4 {
		@include oGridDefineLayout(nth($_o-grid-layout-shorthands, $i), nth($_o-grid-max-widths, $i));
	}
}
