@if ($o-grid-is-fixed-large) {
	$o-grid-selector-fixed-large: null !global;
	$o-grid-useragents-fixed-large: null !global;
}

@if ($o-grid-selector-fixed-large) {
	$o-grid-useragents-fixed-large: null;
}

@include oGridClass(row box page) {
	margin: 0 auto;
}

@include oGridClass(row) {
	clear: both;
	width: 100%;
}

@include oGridClass(row) {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

@if (not $o-grid-is-fixed-large and $o-grid-is-responsive) {
	@include oGridClass(row page) {
		max-width: $o-grid-small-max-width;
		min-width: $o-grid-min-width;
	}

	@include oGridClass((row row, box row), true) {
		margin-left: -($o-grid-default-gutter / 2);
		margin-right: -($o-grid-default-gutter / 2);
		width: auto;
		max-width: none; // needed for .grid-box .grid-row
		min-width: 0;
	}

	@include oGridColumnSelector() {
		padding-left: $o-grid-default-gutter / 2;
		padding-right: $o-grid-default-gutter / 2;
	}

	// We need to set a minimum width because @media screen works in IE7
	// and we hide CSS that we don't want in IE6-IE8 in media queries
	@media screen and (min-width: 0) {
		@include oGridColumnWidths(default, 12, true);
		@include oGridColumnWidths(S, 12, true);
	}
}
