html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.o-grid-row,
.o-grid-box,
.o-grid-page {
	margin: 0 auto;
}

.o-grid-row {
	clear: both;
	width: 100%;
}

.o-grid-row:after {
	content: '';
	display: block;
	clear: both;
}

@if (not($o-grid-is-fixed-desktop and not $o-grid-is-responsive)) {
	.o-grid-row,
	.o-grid-page  {
		max-width: $o-grid-small-max-width; 
		min-width: $o-grid-min-width;
	}

	.o-grid-row .o-grid-row,
	.o-grid-box .o-grid-row {
		margin-left: -$o-grid-default-half-gutter;
		margin-right: -$o-grid-default-half-gutter;
		width: auto;
		max-width: none; // needed for .grid-box .grid-row
		min-width: 0;
	}

	.o-grid-row.o-grid-row-compact,
	.o-grid-row .o-grid-row.o-grid-row-compact,
	#{$lt-ie9} .o-grid-row.o-grid-row-compact,
	#{$lt-ie9} .o-grid-row .o-grid-row.o-grid-row-compact {
		margin-left: 0;
		margin-right: 0;
	}

	/* Default grid: Layout 1 FIXED (well, max-width) */
	[class*="o-grid-col"] {
		float: left;
		padding-left: $o-grid-default-half-gutter;
		padding-right: $o-grid-default-half-gutter;
	}

	.o-grid-row-compact > [class*="o-grid-col"] {
		padding-left: 0;
		padding-right: 0;
	}

	[class*="|0|"],
	[class*="|s0|"],
	[class*="|hide|"],
	[class*="|shide|"],
	%o-grid.s0,
	%o-grid-shide,
	%o-grid-0,
	%o-grid-hide {
		display: none;
	}


	@for $colWidth from 1 through 11 {
				
		[class*="|#{$colWidth}|"],
		[class*="|s#{$colWidth}|"],
		%o-grid-#{$colWidth},
		%o-grid-s#{$colWidth} {
			width: oGridColumnWidthMinusGutter($colWidth, $o-grid-default-half-gutter);
		}
	}

	[class*="|12|"],
	[class*="|s12|"],
	%o-grid-s12,
	%o-grid-12 {
	    float: none;
	    clear: both;
		width: oGridColumnWidthMinusGutter(12, $o-grid-default-half-gutter);
	}

	%o-grid-no-gutter,
	%o-grid-no-gutter-s,
	%o-grid-no-left-gutter,
	%o-grid-no-left-gutter-s {
		padding-left: 0;

		&> .o-grid-row {
			margin-left: 0;
		}
	}

	%o-grid-no-gutter,
	%o-grid-no-gutter-s,
	%o-grid-no-right-gutter,
	%o-grid-no-right-gutter-s {
		padding-right: 0;

		&> .o-grid-row {
			margin-right: 0;
		}
	}
}