@if ($o-grid-is-fixed-desktop) {
	$o-grid-fixed-layout-selector: null;
	$o-grid-fixed-layout-useragents: null;
}

@if ($o-grid-fixed-layout-selector) {
	$o-grid-fixed-layout-useragents: null;
}

@if (not $o-grid-is-silent) {
	html {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		text-size-adjust: 100%;
	}
}

@include oGridClass(row box page) {
	margin: 0 auto;
}

@include oGridClass(row) {
	clear: both;
	width: 100%;
}

@include oGridClass(row) {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

@if (not($o-grid-is-fixed-desktop and not $o-grid-is-responsive)) {
	@include oGridClass(row page)  {
		max-width: $o-grid-small-max-width; 
		min-width: $o-grid-min-width;
	}

	@include oGridClass((row row, box row), true) {
		margin-left: -$o-grid-default-half-gutter;
		margin-right: -$o-grid-default-half-gutter;
		width: auto;
		max-width: none; // needed for .grid-box .grid-row
		min-width: 0;
	}
	
	@include oGridColumnSelector() {
		float: left;
		padding-left: $o-grid-default-half-gutter;
		padding-right: $o-grid-default-half-gutter;
	}

	@include oGridCompactStyles();
	@include oGridColumnWidths(default, 12, true);
	@include oGridColumnWidths(s, 12, true);
	@include oGridGutterOverrides(s);
	@include oGridGutterOverrides(default);
}