@if ($o-grid-is-responsive and not $o-grid-is-fixed-large) {
	/* Override fixed defaults for responsive grid */

	// We need to set a minimum width because @media screen works in IE7
	// and we hide CSS that we don't want in <IE9 in media queries
	@media screen and (min-width: 1px) {
		@include oGridCompactStyles(true);
		@include oGridOverrideDefaultGrid();
	}

	@include oGridDefineLayout(default, null);

	@for $i from 1 through 4 {
		@include oGridDefineLayout(nth($_o-grid-layout-shorthands, $i), nth($_o-grid-max-widths, $i));
	}
}
