@if ($isResponsive or $isFixedDesktop) {
	@if ($isFixedDesktop) {
		$fixedLayoutSelector: null;
	}
	@include wrapInSelector ($fixedLayoutSelector) {

		.#{$gridRow} {
			width: $largeMaxWidth;
			max-width: $largeMaxWidth;
		}

		.#{$gridRow} .#{$gridRow},
		.#{$gridBox} .#{$gridRow} {
			margin-left: -$fixedLayoutHalfGutter;
			margin-right: -$fixedLayoutHalfGutter;
			width: auto;
		}

		[class*="#{$gridColumn}"] {
			float: left;
			padding-left: $fixedLayoutHalfGutter;
			padding-right: $fixedLayoutHalfGutter;
			-moz-box-sizing: border-box;
			box-sizing: border-box; *behavior: url(#{$pathToPolyfills}boxsizing.htc);
		}


		[class*="-#{$default}0"],
		[class*="-#{$large}0"] {
			display: none;
		}

		@for $colWidth from 1 through 11 {
					
			[class*="-#{$default}#{$colWidth}"],
			[class*="-#{$large}#{$colWidth}"] {
				width: gridColumnWidth($colWidth);
			}
		}

		[class*="-#{$default}12"],
		[class*="-#{$large}12"] {
		    float: none;
		    clear: both;
			width: 100%;
		}

		[class*="-#{$large}hide"] {
			display: none;
		}

		[class*="-#{$small}12"] {
			clear: none;
		}
	}
}