@if ($isResponsive) {
	/* Override fixed defaults for responsive grid */
	@media screen {

		.#{$gridRow} .#{$gridRow},
		.#{$gridBox} .#{$gridRow} {
			margin-left: -$responsiveLayoutHalfGutter;
			margin-right: -$responsiveLayoutHalfGutter;
			width: auto;
		}

		[class*="#{$gridColumn}"] {
			float: left;
			padding-left: $responsiveLayoutHalfGutter;
			padding-right: $responsiveLayoutHalfGutter;
			@include boxSizing(border-box);
		}


		// Following rules undo styles applied by the fixed grid
		[class*="-#{$small}0"],
		[class*="-#{$small}hide"]  {
		    display: block;
		}

		[class*="-#{$small}12"] {
		    clear: none;
		}

	}

	@include defineResponsiveGrid($default, null);

	@for $i from 1 through 4 {
		@include defineResponsiveGrid(nth($layoutShorthands, $i), nth($maxWidths, $i));
	}
}