html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.#{$ft-grid-row},
.#{$ft-grid-box},
.#{$ft-grid-page} {
	margin: 0 auto;
}

.#{$ft-grid-row} {
	clear: both;
	width: 100%;
}

.#{$ft-grid-row}:after {
	content: '';
	display: block;
	clear: both;
}

@if (not($ft-grid-is-fixed-desktop and not $ft-grid-is-responsive)) {
	.#{$ft-grid-row},
	.#{$ft-grid-page}  {
		max-width: $ft-grid-small-max-width; 
		min-width: $ft-grid-min-width;
	}

	.#{$ft-grid-row} .#{$ft-grid-row},
	.#{$ft-grid-box} .#{$ft-grid-row} {
		margin-left: -$ft-grid-default-half-gutter;
		margin-right: -$ft-grid-default-half-gutter;
		width: auto;
		max-width: none; // needed for .grid-box .grid-row
		min-width: 0;
	}

	/* Default grid: Layout 1 FIXED (well, max-width) */
	[class*="#{$ft-grid-column}"] {
		float: left;
		padding-left: $ft-grid-default-half-gutter;
		padding-right: $ft-grid-default-half-gutter;
	}

	[class*="-#{$ft-grid-default}0"],
	[class*="-#{$ft-grid-small}0"],
	[class*="-#{$ft-grid-default}hide"],
	[class*="-#{$ft-grid-small}hide"],
	%ft-grid-s0,
	%ft-grid-shide,
	%ft-grid-d0,
	%ft-grid-dhide {
		display: none;
	}


	@for $colWidth from 1 through 11 {
				
		[class*="-#{$ft-grid-default}#{$colWidth}"],
		[class*="-#{$ft-grid-small}#{$colWidth}"],
		%ft-grid-d#{$colWidth},
		%ft-grid-s#{$colWidth} {
			width: ftGridColumnWidthMinusGutter($colWidth, $ft-grid-default-half-gutter);
		}
	}

	[class*="-#{$ft-grid-default}12"],
	[class*="-#{$ft-grid-small}12"],
	%ft-grid-s12,
	%ft-grid-d12 {
	    float: none;
	    clear: both;
		width: ftGridColumnWidthMinusGutter(12, $ft-grid-default-half-gutter);
	}

	%ft-grid-no-left-gutter,
	%ft-grid-no-left-gutter-s {
		padding-left: 0;

		&> .#{$ft-grid-row} {
			margin-left: 0;
		}
	}

	%ft-grid-no-right-gutter,
	%ft-grid-no-right-gutter-s {
		padding-right: 0;

		&> .#{$ft-grid-row} {
			margin-right: 0;
		}
	}
}