@if ($isResponsive or $isFixedDesktop) {
	@if ($isFixedDesktop) {
		$fixedLayoutSelector: null;
	}
	@include wrapInSelector ($fixedLayoutSelector) {

		.#{$gridRow} {
			width: $largeMaxWidth;
			max-width: $largeMaxWidth;
		}

		.#{$gridRow} .#{$gridRow},
		.#{$gridBox} .#{$gridRow} {
			margin-left: -$fixedLayoutHalfGutter;
			margin-right: -$fixedLayoutHalfGutter;
			width: auto;
		}

		[class*="#{$gridColumn}"] {
			float: left;
			padding-left: $fixedLayoutHalfGutter;
			padding-right: $fixedLayoutHalfGutter;
			-moz-box-sizing: border-box;
			box-sizing: border-box; *behavior: url(#{$pathToPolyfills}boxsizing.htc);
		}

		@include columnWidths($default);
		@include columnWidths($large);

		[class*="-#{$small}12"] {
			clear: none;
		}
	}
}