@if ($ftGridIsResponsive or $ftGridIsFixedDesktop) {
	@if ($ftGridIsFixedDesktop) {
		$ftGridFixedLayoutSelector: null;
	}
	@include wrapInSelector ($ftGridFixedLayoutSelector) {

		.#{$ftGridRow},
		.#{$ftGridPage} {
			width: $ftGridLargeMaxWidth;
			max-width: $ftGridLargeMaxWidth;
		}

		.#{$ftGridRow} .#{$ftGridRow},
		.#{$ftGridBox} .#{$ftGridRow} {
			margin-left: -$ftGridFixedHalfGutter;
			margin-right: -$ftGridFixedHalfGutter;
			width: auto;
		}

		[class*="#{$ftGridColumn}"] {
			float: left;
			padding-left: $ftGridFixedHalfGutter;
			padding-right: $ftGridFixedHalfGutter;
			@include boxSizing(border-box);
		}

		@include ftGridColumnWidths($ftGridDefault);
		@include ftGridColumnWidths($ftGridLarge);

		[class*="-#{$ftGridSmall}12"] {
			clear: none;
		}
	}
}