@if ($o-grid-is-responsive or $o-grid-is-fixed-large) {
    
    @if ($o-grid-is-fixed-large) {
        @include oGridOverrideDefaultGrid();
	}

    @include oGridTargetAtFixedLayout () {
		@include oGridFixedGridStyles ();
	}

}

