<!DOCTYPE html>
<html>
<head>
	{{> ./views/head.mustache}}
</head>
<body class="dev-prototype">

	<div id="devHead">
		<h1>Grid mode: <span></span></h1>
	</div>
	
	{{> ./views/grid-generator.mustache}}
</body>
</html>