<!DOCTYPE html>
<html>
<head>
	{{> head}}
</head>
<body class="dev-prototype">

	<div class="header">
		<h1>{{#default}}Default{{/default}}{{#legacy}}Legacy{{/legacy}}{{#responsive}}Responsive <span>(<span class="mode"></span>)</span>{{/responsive}}</h1>
	</div>
	
	{{> grid_generator}}
</body>
</html>