<!DOCTYPE html>
<html>
<head>
  <title>{{title}} - FT.com</title>
  <link rel='stylesheet' href='/css/style.{{page.version}}.min.css' />
</head>
<body>
  <h1>Financial Times</h1>

  <h2>Demo pages for grid system</h2>
  <p>When the full app is used the correct grid mode will be selected automatically, but the following demo pages 
    force the page to use a particular grid mode (with the exception of Responsive Grid, which duplicates the behaviour of the full app)</p>

  <ul>
    <li><a href="/grid-default">Default Grid</a>
      Fluid grid with max width of 600px. 
      Used if media queries not supported
    </li>
    <li><a href="/grid-responsive">Responsive Grid</a>
      Responsive grid with max width of 1360px. 
      Used if media queries supported
    </li>
    <li><a href="/grid-legacy">Legacy Grid</a>
      Fixed grid with width of 960px. 
      Loaded if browser/feature detection suggest user is on ie7
    </li>
    <li><a href="/grid-dist">Distribution grid</a>
      Example page demonstrating how to include the grid in a live app
    </li>
  </ul>
  {{> ./views/docs.mustache}}
</body>
</html>