html {
	/* Set a font family on the whole document */
	font-family: BentonSans, sans-serif;

	/* Prevent navigation menus from creating
	   extra space on sides of the page */
	overflow-x: hidden;
}
body {
	/* Remove space around the document */
	margin: 0;
}

// Display configuration information
.test body:after {
	content: '';
	background-color: #fcf8e3;
	border-bottom: 1px solid #fbeed5;
	border-left: 1px solid #fbeed5;
	color: #c09853;
	font: small-caption;
	padding: 3px 6px;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 25px;
	z-index: 100;
}

h2 {
	@include oGridRow;
}

[data-o-grid-colspan] {
	display: flex;
}

.demo-cell {
	flex-grow: 1;
	background-color: transparent;
	zoom: 1;
	min-height: 2em;
	text-align: center;
	padding-top: 1rem;
	overflow: hidden;
	font-size: 1.3rem;
	line-height: 1.2;

	// Transparent background color in IE8
	$rgba: rgba(#ffffff, 0.5);
	$ie-hex-str: ie-hex-str($rgba);
	// scss-lint:disable DuplicateProperty
	background-color: $rgba;
	// scss-lint:enable DuplicateProperty
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
}
.o-grid-row {
	background: #f6e9d8;
	margin-top: 1rem;
	margin-bottom: 1rem;

	.o-grid-row {
		background: #cec6b9;
	}
}

[class*='error'] .demo-cell {
	background-color: #c00d00;
}

.demo-switcher {
	margin: 1rem 0;
	text-align: center;
}
