body {
	font-family: Arial, Helvetica, sans-serif;
}

.demo {
	.demo-cell {
		background-color: transparent;
		zoom: 1;
		min-height: 30px;
		text-align: center;
		padding-top: 10px;
		overflow: hidden;

		// Transparent background color in IE8
		$rgba: rgba(#ffffff, 0.5);
		$ie-hex-str: ie-hex-str($rgba);
		background-color: $rgba;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
	}
	.demo-row {
		background: #bdcaff;
		margin-top: 10px;
		margin-bottom: 10px;
		.demo-row {
			background: #dc73ff;
		}
	}
	[class*='error'] .demo-cell {
		background-color: red;
	}
	.selected-stylesheet {
		background: #aaaaff;
	}
	h2 {
		@include oGridRow;
	}
}
