body {
    font-family: Arial, Helvetica, sans-serif;
}

.demo {
    .demo-cell {
        min-height: 30px;
        background: rgba(255,255,255,0.5);
        text-align: center;
        padding-top: 10px;
        overflow: hidden;
    }
    .demo-row {
        background: #BDCAFF;
        margin-top: 10px;
        margin-bottom: 10px;
        .demo-row {
            background: #FFA898;
        }
    }
    [class*='error'] .cell {
        background-color: #faa;
    }
    .selected-stylesheet {
        background: #aaf;
    }
}




/* Show the current media query layout mode */

.demo-details .mode {
    text-align:right;
}
.demo-details .mode:after {
    font-weight: bold;
}
@include oGridRespondTo(S) {
    .demo-details .mode:after {
        content: "S";
    }
}
@include oGridRespondTo(M) {
    .demo-details .mode:after {
        content: "M";
    }
}
@include oGridRespondTo(L) {
    .demo-details .mode:after {
        content: "L";
    }
}
@include oGridRespondTo(XL) {
    .demo-details .mode:after {
        content: "XL";
    }
}

/* Show comments relevant to only particular demos */

.comment {
    display: none;
}
@each $type in default device-width-mq width-mq non-fluid resized disabled always-fixed {
    #{'.stylesheet-#{$type}'} {
        #{'.comment.#{$type}'} {
            display: block;
        }
    }
}
