$o-grid-gutters: (default: 1.705%);
$o-grid-outer-margin: 0;

$o-grid-layouts: (
	S:  480px,
	M:  720px,
	L:  960px,
	XL: 1200px,
);

@import 'common';

.test body:after {
	content: 'EXPERIMENTAL: $o-grid-gutters: #{$o-grid-gutters}, $o-grid-outer-margin: 0, $o-grid-layouts: S: 480px, M: 720px, L: 960px, XL: 1200px';
}
