$o-grid-gutter: 1.705%;
$o-grid-outer-margin: 0;

$o-grid-layouts: (
	S:  480px,
	M:  720px,
	L:  960px,
	XL: 1200px,
);

@import 'common';

.test body:after {
	content: 'EXPERIMENTAL: $o-grid-gutter: #{$o-grid-gutter}, $o-grid-outer-margin: 0, $o-grid-layouts: S: 480px, M: 720px, L: 960px, XL: 1200px';
}
