$o-grid-layouts: (
	'S': 400px,
	'M': 800px,
	'L': 1000px,
	'XL': 1200px,
);

$o-grid-gutter: 5 / 1200;

@import 'common';

.test body:after {
	content: '$o-grid-gutter: #{$o-grid-gutter}, $o-grid-layouts: S: 400px, M: 800px, L: 1000px';
}
