$o-grid-layouts: (
	'S': 400px,
	'M': 800px,
	'L': 1000px
);

$o-grid-gutters: (default: 5px);

@import 'common';

.test body:after {
	content: '$o-grid-layouts: S: 400px, M: 800px, L: 1000px, $o-grid-gutters: #{$o-grid-gutters}';
}
