// Page widths
$o-grid-min-width: 240px;
$o-grid-small-max-width: 400px;
$o-grid-medium-max-width: 580px;
$o-grid-large-max-width: 760px;
$o-grid-extra-large-max-width: 1160px;

// Breakpoints
// $o-grid-small-to-medium-break: 400px;
// $o-grid-medium-to-large-break: 800px;
// $o-grid-large-to-extra-large-break: 1200px;

// Gutters
$o-grid-responsive-half-gutter: 5px;
$o-grid-default-half-gutter: 0.5%;
$o-grid-fixed-half-gutter: 2px;

@import '_common';
