body {
	font-size: 16px;
	line-height: 16px;
}

hr {
    clear: both;
}

.ft-header {
    margin: 0 0 20px 0;
    padding: 10px;
    min-height: 20px;
	background-color: #aaa;
}

.ft-header h2 {
	font-size: 20px;
	line-height: 20px;
}

.ft-footer {
    margin: 20px 0 0 0;
    padding: 10px;
    min-height: 20px;
    font-size: 12px;
	background-color: #aaa;
}