/* 
	Note: The identically named mixins and functions below is not a mistake; it means they can be used to either 
	output a string or to wrap some style rules in a selector
*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.o-grid-row, .o-grid-box, .o-grid-page {
  margin: 0 auto;
}

.o-grid-row {
  clear: both;
  width: 100%;
}

.o-grid-row:after {
  content: '';
  display: block;
  clear: both;
}

.o-grid-row, .o-grid-page {
  max-width: 600px;
  min-width: 240px;
}

.o-grid-row .o-grid-row, .o-grid-box .o-grid-row {
  margin-left: -1%;
  margin-right: -1%;
  width: auto;
  max-width: none;
  min-width: 0;
}

[data-o-grid-colspan] {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}

[data-o-grid-colspan~="hide"], [data-o-grid-colspan~="0"] {
  display: none;
}

[data-o-grid-colspan~="1"] {
  width: 6.33333%;
}

[data-o-grid-colspan~="2"] {
  width: 14.66667%;
}

[data-o-grid-colspan~="3"] {
  width: 23%;
}

[data-o-grid-colspan~="4"] {
  width: 31.33333%;
}

[data-o-grid-colspan~="5"] {
  width: 39.66667%;
}

[data-o-grid-colspan~="6"] {
  width: 48%;
}

[data-o-grid-colspan~="7"] {
  width: 56.33333%;
}

[data-o-grid-colspan~="8"] {
  width: 64.66667%;
}

[data-o-grid-colspan~="9"] {
  width: 73%;
}

[data-o-grid-colspan~="10"] {
  width: 81.33333%;
}

[data-o-grid-colspan~="11"] {
  width: 89.66667%;
}

[data-o-grid-colspan~="12"] {
  float: none;
  clear: both;
  display: block;
  width: 98%;
}

[data-o-grid-colspan~="Shide"], [data-o-grid-colspan~="S0"] {
  display: none;
}

[data-o-grid-colspan~="S1"] {
  width: 6.33333%;
}

[data-o-grid-colspan~="S2"] {
  width: 14.66667%;
}

[data-o-grid-colspan~="S3"] {
  width: 23%;
}

[data-o-grid-colspan~="S4"] {
  width: 31.33333%;
}

[data-o-grid-colspan~="S5"] {
  width: 39.66667%;
}

[data-o-grid-colspan~="S6"] {
  width: 48%;
}

[data-o-grid-colspan~="S7"] {
  width: 56.33333%;
}

[data-o-grid-colspan~="S8"] {
  width: 64.66667%;
}

[data-o-grid-colspan~="S9"] {
  width: 73%;
}

[data-o-grid-colspan~="S10"] {
  width: 81.33333%;
}

[data-o-grid-colspan~="S11"] {
  width: 89.66667%;
}

[data-o-grid-colspan~="S12"] {
  float: none;
  clear: both;
  display: block;
  width: 98%;
}

/* Styles for presenting the grid. Not part of the grid code. */
/* 
	Note: The identically named mixins and functions below is not a mistake; it means they can be used to either 
	output a string or to wrap some style rules in a selector
*/
.header {
  margin: 0 0 20px 0;
  padding: 10px;
  background-color: black;
  color: white;
}

.header h1 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}

.header span {
  font-weight: normal;
  color: #bbb;
}

.docs {
  font-family: Arial, Helvetica, sans-serif;
}

.docs a {
  color: #55a;
}

.docs h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  line-height: 24px;
}

.docs h3 {
  margin: 0 0 10px 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
}

.docs h4 {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 18px;
}

.docs p {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 18px;
}

.docs li {
  font-size: 14px;
  line-height: 18px;
}

.docs code {
  background-color: #ffe;
  color: #885;
}

.examples {
  opacity: 0.75;
  background: white;
  position: relative;
}

.underlay {
  position: fixed;
  left: 8px;
  right: 8px;
  height: 100%;
}
.underlay .o-grid-row,
.underlay .col,
.underlay .col > div {
  height: 100%;
}
.underlay .col > div {
  background: pink;
}

.example {
  margin-bottom: 20px;
  overflow: hidden;
}

.dev-inner {
  display: block;
  margin-bottom: 10px;
  min-height: 30px;
  text-align: center;
  overflow: hidden;
  font-size: 10px;
  line-height: 30px;
  background-color: #ddd;
  border: 1px solid #ccc;
  white-space: pre;
  font-family: monospace;
}

[class*='error'] .dev-inner {
  background-color: #faa;
}

.selected-stylesheet {
  background: #aaf;
}

.o-grid-row {
  background-color: #eee;
  padding-bottom: 10px;
}

.dev-inner + .o-grid-row {
  margin-top: 10px;
}

[class*="o-grid-col"] [class*="o-grid-col"] .dev-inner {
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .header .mode:after {
    content: "small layout";
  }
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .header .mode:after {
    content: "medium layout";
  }
}
@media screen and (min-width: 1001px) and (max-width: 1400px) {
  .header .mode:after {
    content: "large layout";
  }
}
@media screen and (min-width: 1401px) {
  .header .mode:after {
    content: "extra large layout";
  }
}
.comment {
  display: none;
}

.stylesheet-default .comment.default {
  display: block;
}

.stylesheet-device-width-mq .comment.device-width-mq {
  display: block;
}

.stylesheet-width-mq .comment.width-mq {
  display: block;
}

.stylesheet-non-fluid .comment.non-fluid {
  display: block;
}

.stylesheet-resized .comment.resized {
  display: block;
}

.stylesheet-disabled .comment.disabled {
  display: block;
}

.stylesheet-always-fixed .comment.always-fixed {
  display: block;
}

/* Override fixed defaults for responsive grid */
@media screen {
  .o-grid-row .o-grid-row, .o-grid-box .o-grid-row {
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
  }

  [data-o-grid-colspan] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .o-grid-row-compact > [data-o-grid-colspan] {
    padding-left: 0;
    padding-right: 0;
  }

  .o-grid-row.o-grid-row-compact,
  .o-grid-row .o-grid-row.o-grid-row-compact {
    margin-left: 0;
    margin-right: 0;
  }

  [data-o-grid-colspan~="S0"], [data-o-grid-colspan~="Shide"] {
    display: block;
  }

  [data-o-grid-colspan~="S12"] {
    clear: none;
  }

  [data-o-grid-colspan~="S0"], [data-o-grid-colspan~="S1"], [data-o-grid-colspan~="S2"], [data-o-grid-colspan~="S3"], [data-o-grid-colspan~="S4"], [data-o-grid-colspan~="S5"], [data-o-grid-colspan~="S6"], [data-o-grid-colspan~="S7"], [data-o-grid-colspan~="S8"], [data-o-grid-colspan~="S9"], [data-o-grid-colspan~="S10"], [data-o-grid-colspan~="S11"], [data-o-grid-colspan~="S12"] {
    width: auto;
  }

  .gut,
  .gut-l {
    padding-left: 0;
  }
  .gut > .o-grid-row,
  .gut-l > .o-grid-row {
    margin-left: 0;
  }

  .gut,
  .gut-r {
    padding-right: 0;
  }
  .gut > .o-grid-row,
  .gut-r > .o-grid-row {
    margin-right: 0;
  }
}
@media screen {
  .o-grid-row, .o-grid-page {
    max-width: none;
  }

  .gut,
  .gut-l {
    padding-left: 0;
  }
  .gut > .o-grid-row,
  .gut-l > .o-grid-row {
    margin-left: 0;
  }

  .gut,
  .gut-r {
    padding-right: 0;
  }
  .gut > .o-grid-row,
  .gut-r > .o-grid-row {
    margin-right: 0;
  }

  [data-o-grid-colspan~="hide"], [data-o-grid-colspan~="0"] {
    display: none;
  }

  [data-o-grid-colspan~="1"] {
    width: 8.33333%;
  }

  [data-o-grid-colspan~="2"] {
    width: 16.66667%;
  }

  [data-o-grid-colspan~="3"] {
    width: 25%;
  }

  [data-o-grid-colspan~="4"] {
    width: 33.33333%;
  }

  [data-o-grid-colspan~="5"] {
    width: 41.66667%;
  }

  [data-o-grid-colspan~="6"] {
    width: 50%;
  }

  [data-o-grid-colspan~="7"] {
    width: 58.33333%;
  }

  [data-o-grid-colspan~="8"] {
    width: 66.66667%;
  }

  [data-o-grid-colspan~="9"] {
    width: 75%;
  }

  [data-o-grid-colspan~="10"] {
    width: 83.33333%;
  }

  [data-o-grid-colspan~="11"] {
    width: 91.66667%;
  }

  [data-o-grid-colspan~="12"] {
    float: none;
    clear: both;
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .o-grid-row, .o-grid-page {
    max-width: none;
  }

  .gut-S,
  .gut-l-S {
    padding-left: 0;
  }
  .gut-S > .o-grid-row,
  .gut-l-S > .o-grid-row {
    margin-left: 0;
  }

  .gut-S,
  .gut-r-S {
    padding-right: 0;
  }
  .gut-S > .o-grid-row,
  .gut-r-S > .o-grid-row {
    margin-right: 0;
  }

  [data-o-grid-colspan~="Shide"], [data-o-grid-colspan~="S0"] {
    display: none;
  }

  [data-o-grid-colspan~="S1"] {
    width: 8.33333%;
  }

  [data-o-grid-colspan~="S2"] {
    width: 16.66667%;
  }

  [data-o-grid-colspan~="S3"] {
    width: 25%;
  }

  [data-o-grid-colspan~="S4"] {
    width: 33.33333%;
  }

  [data-o-grid-colspan~="S5"] {
    width: 41.66667%;
  }

  [data-o-grid-colspan~="S6"] {
    width: 50%;
  }

  [data-o-grid-colspan~="S7"] {
    width: 58.33333%;
  }

  [data-o-grid-colspan~="S8"] {
    width: 66.66667%;
  }

  [data-o-grid-colspan~="S9"] {
    width: 75%;
  }

  [data-o-grid-colspan~="S10"] {
    width: 83.33333%;
  }

  [data-o-grid-colspan~="S11"] {
    width: 91.66667%;
  }

  /* ensures d12 and d0 can be over-ridden by styles for S layout */
  [data-o-grid-colspan~="S1"], [data-o-grid-colspan~="S2"], [data-o-grid-colspan~="S3"], [data-o-grid-colspan~="S4"], [data-o-grid-colspan~="S5"], [data-o-grid-colspan~="S6"], [data-o-grid-colspan~="S7"], [data-o-grid-colspan~="S8"], [data-o-grid-colspan~="S9"], [data-o-grid-colspan~="S10"], [data-o-grid-colspan~="S11"] {
    float: left;
    clear: none;
    display: block;
  }

  [data-o-grid-colspan~="S12"] {
    float: none;
    clear: both;
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .o-grid-row, .o-grid-page {
    max-width: none;
  }

  .gut-M,
  .gut-l-M {
    padding-left: 0;
  }
  .gut-M > .o-grid-row,
  .gut-l-M > .o-grid-row {
    margin-left: 0;
  }

  .gut-M,
  .gut-r-M {
    padding-right: 0;
  }
  .gut-M > .o-grid-row,
  .gut-r-M > .o-grid-row {
    margin-right: 0;
  }

  [data-o-grid-colspan~="Mhide"], [data-o-grid-colspan~="M0"] {
    display: none;
  }

  [data-o-grid-colspan~="M1"] {
    width: 8.33333%;
  }

  [data-o-grid-colspan~="M2"] {
    width: 16.66667%;
  }

  [data-o-grid-colspan~="M3"] {
    width: 25%;
  }

  [data-o-grid-colspan~="M4"] {
    width: 33.33333%;
  }

  [data-o-grid-colspan~="M5"] {
    width: 41.66667%;
  }

  [data-o-grid-colspan~="M6"] {
    width: 50%;
  }

  [data-o-grid-colspan~="M7"] {
    width: 58.33333%;
  }

  [data-o-grid-colspan~="M8"] {
    width: 66.66667%;
  }

  [data-o-grid-colspan~="M9"] {
    width: 75%;
  }

  [data-o-grid-colspan~="M10"] {
    width: 83.33333%;
  }

  [data-o-grid-colspan~="M11"] {
    width: 91.66667%;
  }

  /* ensures d12 and d0 can be over-ridden by styles for M layout */
  [data-o-grid-colspan~="M1"], [data-o-grid-colspan~="M2"], [data-o-grid-colspan~="M3"], [data-o-grid-colspan~="M4"], [data-o-grid-colspan~="M5"], [data-o-grid-colspan~="M6"], [data-o-grid-colspan~="M7"], [data-o-grid-colspan~="M8"], [data-o-grid-colspan~="M9"], [data-o-grid-colspan~="M10"], [data-o-grid-colspan~="M11"] {
    float: left;
    clear: none;
    display: block;
  }

  [data-o-grid-colspan~="M12"] {
    float: none;
    clear: both;
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1400px) {
  .o-grid-row, .o-grid-page {
    max-width: none;
  }

  .gut-L,
  .gut-l-L {
    padding-left: 0;
  }
  .gut-L > .o-grid-row,
  .gut-l-L > .o-grid-row {
    margin-left: 0;
  }

  .gut-L,
  .gut-r-L {
    padding-right: 0;
  }
  .gut-L > .o-grid-row,
  .gut-r-L > .o-grid-row {
    margin-right: 0;
  }

  [data-o-grid-colspan~="Lhide"], [data-o-grid-colspan~="L0"] {
    display: none;
  }

  [data-o-grid-colspan~="L1"] {
    width: 8.33333%;
  }

  [data-o-grid-colspan~="L2"] {
    width: 16.66667%;
  }

  [data-o-grid-colspan~="L3"] {
    width: 25%;
  }

  [data-o-grid-colspan~="L4"] {
    width: 33.33333%;
  }

  [data-o-grid-colspan~="L5"] {
    width: 41.66667%;
  }

  [data-o-grid-colspan~="L6"] {
    width: 50%;
  }

  [data-o-grid-colspan~="L7"] {
    width: 58.33333%;
  }

  [data-o-grid-colspan~="L8"] {
    width: 66.66667%;
  }

  [data-o-grid-colspan~="L9"] {
    width: 75%;
  }

  [data-o-grid-colspan~="L10"] {
    width: 83.33333%;
  }

  [data-o-grid-colspan~="L11"] {
    width: 91.66667%;
  }

  /* ensures d12 and d0 can be over-ridden by styles for L layout */
  [data-o-grid-colspan~="L1"], [data-o-grid-colspan~="L2"], [data-o-grid-colspan~="L3"], [data-o-grid-colspan~="L4"], [data-o-grid-colspan~="L5"], [data-o-grid-colspan~="L6"], [data-o-grid-colspan~="L7"], [data-o-grid-colspan~="L8"], [data-o-grid-colspan~="L9"], [data-o-grid-colspan~="L10"], [data-o-grid-colspan~="L11"] {
    float: left;
    clear: none;
    display: block;
  }

  [data-o-grid-colspan~="L12"] {
    float: none;
    clear: both;
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 1401px) {
  .o-grid-row, .o-grid-page {
    max-width: 1360px;
  }

  .gut-XL,
  .gut-l-XL {
    padding-left: 0;
  }
  .gut-XL > .o-grid-row,
  .gut-l-XL > .o-grid-row {
    margin-left: 0;
  }

  .gut-XL,
  .gut-r-XL {
    padding-right: 0;
  }
  .gut-XL > .o-grid-row,
  .gut-r-XL > .o-grid-row {
    margin-right: 0;
  }

  [data-o-grid-colspan~="XLhide"], [data-o-grid-colspan~="XL0"] {
    display: none;
  }

  [data-o-grid-colspan~="XL1"] {
    width: 8.33333%;
  }

  [data-o-grid-colspan~="XL2"] {
    width: 16.66667%;
  }

  [data-o-grid-colspan~="XL3"] {
    width: 25%;
  }

  [data-o-grid-colspan~="XL4"] {
    width: 33.33333%;
  }

  [data-o-grid-colspan~="XL5"] {
    width: 41.66667%;
  }

  [data-o-grid-colspan~="XL6"] {
    width: 50%;
  }

  [data-o-grid-colspan~="XL7"] {
    width: 58.33333%;
  }

  [data-o-grid-colspan~="XL8"] {
    width: 66.66667%;
  }

  [data-o-grid-colspan~="XL9"] {
    width: 75%;
  }

  [data-o-grid-colspan~="XL10"] {
    width: 83.33333%;
  }

  [data-o-grid-colspan~="XL11"] {
    width: 91.66667%;
  }

  /* ensures d12 and d0 can be over-ridden by styles for XL layout */
  [data-o-grid-colspan~="XL1"], [data-o-grid-colspan~="XL2"], [data-o-grid-colspan~="XL3"], [data-o-grid-colspan~="XL4"], [data-o-grid-colspan~="XL5"], [data-o-grid-colspan~="XL6"], [data-o-grid-colspan~="XL7"], [data-o-grid-colspan~="XL8"], [data-o-grid-colspan~="XL9"], [data-o-grid-colspan~="XL10"], [data-o-grid-colspan~="XL11"] {
    float: left;
    clear: none;
    display: block;
  }

  [data-o-grid-colspan~="XL12"] {
    float: none;
    clear: both;
    display: block;
    width: 100%;
  }
}
