<div class="ft-grid-col-{{this.span}}">
	<span class="dev-inner"{{#if this.minHeight}} style="min-height:{{{this.minHeight}}}"{{/if}}>{{@index}}: .ft-grid-col-{{this.span}}</span>
	{{#if this.columns}}
		<div class="ft-grid-row">
			{{#each this.columns}}
				{{> column}}
			{{/each}}
		</div>
	{{/if}}
	
</div>