<div class="example docs">
	<div class="ft-grid-page">
		<div class="ft-grid-row">
			<div class="ft-grid-col-d12">
				<h2>Gutterless columns</h2>
				<p>Removal of left and right gutters universally</p>
			</div>
		</div>
		<div class="ft-grid-row">
			<div class="ft-grid-col-d4 ft-grid-no-gutter">
				<span class="dev-inner"> @extend %ft-grid-no-gutter</span>
			</div>
			<div class="ft-grid-col-d4 ft-grid-no-left-gutter">
				<span class="dev-inner"> @extend %ft-grid-no-left-gutter</span>
			</div>
			<div class="ft-grid-col-d4 ft-grid-no-right-gutter">
				<span class="dev-inner"> @extend %ft-grid-no-right-gutter</span>
			</div>
		</div>
	</div>
</div>

<div class="example docs">
	<div class="ft-grid-page">
		<div class="ft-grid-row">
			<div class="ft-grid-col-d12">
				<h2>Gutterless columns</h2>
				<p>Removal of left and right gutters at given breakpoints</p>
			</div>
		</div>
		<div class="ft-grid-row">
			<div class="ft-grid-col-d4 ft-grid-no-gutter-s">
				<span class="dev-inner"> @extend %ft-grid-no-gutter-s</span>
			</div>
			<div class="ft-grid-col-d4 ft-grid-no-left-gutter-m">
				<span class="dev-inner"> @extend %ft-grid-no-left-gutter-m</span>
			</div>
			<div class="ft-grid-col-d4 ft-grid-no-right-gutter-l">
				<span class="dev-inner"> @extend %ft-grid-no-right-gutter-l</span>
			</div>
		</div>
	</div>
</div>


<div class="example docs">
	<div class="ft-grid-page">
		<div class="ft-grid-row">
			<div class="ft-grid-col-d12">
				<h2>Gutterless columns</h2>
				<p>Removal of left and right gutters in nested layouts</p>
			</div>
		</div>
		<div class="ft-grid-row">
			<div class="ft-grid-col-d12 ft-grid-no-right-gutter">
				<span class="dev-inner"> @extend %ft-grid-no-right-gutter</span>
				<div class="ft-grid-row">
					<div class="ft-grid-col-d6 ft-grid-no-gutter">
						<span class="dev-inner"> @extend %ft-grid-no-gutter</span>
					</div>
					<div class="ft-grid-col-d6 ft-grid-no-left-gutter">
						<span class="dev-inner"> @extend %ft-grid-no-left-gutter</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="example docs">
	<div class="ft-grid-page">
		<div class="ft-grid-row">
			<div class="ft-grid-col-d12">
				<h2>Single column shorthand</h2>
				<p>Shodul be able to specify a single column layout using more concise syntax</p>
			</div>
		</div>
		<div class="ft-grid-row ft-grid-col-d12">
			<span class="dev-inner">ft-grid-row ft-grid-col-d12</span>
			<div class="ft-grid-row">
				<div class="ft-grid-col-d6">
					<span class="dev-inner">ft-grid-col-d6</span>
				</div>
				<div class="ft-grid-col-d6">
					<span class="dev-inner">ft-grid-col-d6</span>
					<div class="ft-grid-row ft-grid-col-d12">
						<span class="dev-inner">ft-grid-row ft-grid-col-d12</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>