<div class="example docs">
	<div class="o-grid-page">
		<div class="o-grid-row">
			<div class="o-grid-col|12|">
				<h2>Gutterless columns</h2>
				<p>Removal of left and right gutters universally</p>
			</div>
		</div>
		<div class="o-grid-row">
			<div class="o-grid-col|4| o-grid-no-gutter">
				<span class="dev-inner"> @extend %o-grid-no-gutter</span>
			</div>
			<div class="o-grid-col|4| o-grid-no-left-gutter">
				<span class="dev-inner"> @extend %o-grid-no-left-gutter</span>
			</div>
			<div class="o-grid-col|4| o-grid-no-right-gutter">
				<span class="dev-inner"> @extend %o-grid-no-right-gutter</span>
			</div>
		</div>
	</div>
</div>

<div class="example docs">
	<div class="o-grid-page">
		<div class="o-grid-row">
			<div class="o-grid-col|12|">
				<h2>Gutterless columns</h2>
				<p>Removal of left and right gutters at given breakpoints</p>
			</div>
		</div>
		<div class="o-grid-row">
			<div class="o-grid-col|4| o-grid-no-gutter-s">
				<span class="dev-inner"> @extend %o-grid-no-gutter-s</span>
			</div>
			<div class="o-grid-col|4| o-grid-no-left-gutter-m">
				<span class="dev-inner"> @extend %o-grid-no-left-gutter-m</span>
			</div>
			<div class="o-grid-col|4| o-grid-no-right-gutter-l">
				<span class="dev-inner"> @extend %o-grid-no-right-gutter-l</span>
			</div>
		</div>
	</div>
</div>


<div class="example docs">
	<div class="o-grid-page">
		<div class="o-grid-row">
			<div class="o-grid-col|12|">
				<h2>Gutterless columns</h2>
				<p>Removal of left and right gutters in nested layouts</p>
			</div>
		</div>
		<div class="o-grid-row">
			<div class="o-grid-col|12| o-grid-no-right-gutter">
				<span class="dev-inner"> @extend %o-grid-no-right-gutter</span>
				<div class="o-grid-row">
					<div class="o-grid-col|6| o-grid-no-gutter">
						<span class="dev-inner"> @extend %o-grid-no-gutter</span>
					</div>
					<div class="o-grid-col|6| o-grid-no-left-gutter">
						<span class="dev-inner"> @extend %o-grid-no-left-gutter</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="example docs">
	<div class="o-grid-page">
		<div class="o-grid-row">
			<div class="o-grid-col|12|">
				<h2>Single column shorthand</h2>
				<p>Should be able to specify a single column layout using more concise syntax</p>
			</div>
		</div>
		<div class="o-grid-row o-grid-col|12|">
			<span class="dev-inner">o-grid-row o-grid-col|12|</span>
			<div class="o-grid-row">
				<div class="o-grid-col|6|">
					<span class="dev-inner">o-grid-col|6|</span>
				</div>
				<div class="o-grid-col|6|">
					<span class="dev-inner">o-grid-col|6|</span>
					<div class="o-grid-row o-grid-col|12|">
						<span class="dev-inner">o-grid-row o-grid-col|12|</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
