<!DOCTYPE html>
{{#legacy}}
	<html class="lt-ie9">
{{/legacy}}
{{^legacy}}
	
<!--[if IE 7]> <html class="no-js ie7 lt-ie9"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{{/legacy}}
	<head>
	<meta charset="utf-8" />
	<title>{{title}} - FT.com</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{#default}}
		<link rel='stylesheet' href='css/grid-default.css' />
	{{/default}}
	{{#fluid}}
		<link rel='stylesheet' href='css/grid-fluid.css' />
	{{/fluid}}
	{{#responsive}}
		<link rel='stylesheet' href='css/grid-responsive.css' />
	{{/responsive}}
	{{#legacy}}
		<link rel='stylesheet' href='css/grid-responsive.css' />
	{{/legacy}}
	{{#resized}}
		<link rel='stylesheet' href='css/grid-resized.css' />
	{{/resized}}
	{{#disabled}}
		<link rel='stylesheet' href='css/grid-disabled.css' />
	{{/disabled}}	
	{{#always-fixed}}
		<link rel='stylesheet' href='css/grid-always-fixed.css' />
	{{/always-fixed}}	
	{{#always-responsive}}
		<link rel='stylesheet' href='css/grid-always-responsive.css' />
	{{/always-responsive}}	
	<link rel='stylesheet' href='css/docs.css' /> 
</head>