<!DOCTYPE html>
{{#legacy}}
	<html class="lt-ie9">
{{/legacy}}
{{^legacy}}
	<html>
{{/legacy}}
	<head>
	<meta charset="utf-8" />
	<title>{{title}} - FT.com</title>
	<meta name="viewport" content="width=device-width" />
	{{#default}}
		<link rel='stylesheet' href='css/grid-default.css' />
	{{/default}}
	{{#fluid}}
		<link rel='stylesheet' href='css/grid-fluid.css' />
	{{/fluid}}
	{{#responsive}}
		<link rel='stylesheet' href='css/grid-responsive.css' />
	{{/responsive}}
	{{#resized}}
		<link rel='stylesheet' href='css/grid-resized.css' />
	{{/resized}}
		
	<link rel='stylesheet' href='css/docs.css' /> 
</head>