<div class="o-grid-row">
  <div data-o-grid-colspan="8 S12 M11 L10 XL9">
    <span class="dev-inner">8 S12 M11 L10 XL9</span>
    <div class="o-grid-row">
      <div data-o-grid-colspan="8 S12 M11 L10 XL9"><span class="dev-inner">8 S12 M11 L10 XL9 &gt; 8 S12 M11 L10 XL9</span></div>
    </div>
  </div>
</div>
