<h2>Overridability of default and layout specific styles by other layouts</h2>
<h3>S0 M12 L11 XL10</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="S0 M12 L11 XL10"><span class="dev-inner"></span></div>
</div>
<h3>S1 M0 L12 XL11</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="S1 M0 L12 XL11"><span class="dev-inner"></span></div>
</div>
<h3>S2 M1 L0 XL12</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="S2 M1 L0 XL12"><span class="dev-inner"></span></div>
</div>
<h3>S3 M2 L1 XL0</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="S3 M2 L1 XL0"><span class="dev-inner"></span></div>
</div>
<h3>S4 M3 L2 XL1</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="S4 M3 L2 XL1"><span class="dev-inner"></span></div>
</div>
<h3>S5 M4 L3 XL2</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="S5 M4 L3 XL2"><span class="dev-inner"></span></div>
</div>
<h3>S6 M5 L4 XL3</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="S6 M5 L4 XL3"><span class="dev-inner"></span></div>
</div>
<h3>S7 M6 L5 XL4</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="S7 M6 L5 XL4"><span class="dev-inner"></span></div>
</div>
<h3>S8 M7 L6 XL5</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="S8 M7 L6 XL5"><span class="dev-inner"></span></div>
</div>
<h3>S9 M8 L7 XL6</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="S9 M8 L7 XL6"><span class="dev-inner"></span></div>
</div>
<h3>S10 M9 L8 XL7</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="S10 M9 L8 XL7"><span class="dev-inner"></span></div>
</div>
<h3>S11 M10 L9 XL8</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="S11 M10 L9 XL8"><span class="dev-inner"></span></div>
</div>
<h3>S12 M11 L10 XL9</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="S12 M11 L10 XL9"><span class="dev-inner"></span></div>
</div>
<h2>Overriding of default width</h3>
<h3>0 M12 L11 XL10</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="0 M12 L11 XL10"><span class="dev-inner"></span></div>
</div>
<h3>S1 6 L12 XL11</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="S1 6 L12 XL11"><span class="dev-inner"></span></div>
</div>
<h3>S3 M2 L1 12</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="S3 M2 L1 12"><span class="dev-inner"></span></div>
</div>

<h3>S3 M4</h3>
<div class="o-grid-row">
  <div data-o-grid-colspan="S3 M4"><span class="dev-inner">auto width -> 3 or 4</span></div>
</div>