<div class="o-grid-row">
  <div data-o-grid-colspan="0 S12 M11 L10 XL9"><span class="dev-inner">0 S12 M11 L10 XL9</span></div>
</div>
<div class="o-grid-row">
  <div data-o-grid-colspan="1 S0 M12 L11 XL10"><span class="dev-inner">1 S0 M12 L11 XL10</span></div>
</div>
<div class="o-grid-row">
  <div data-o-grid-colspan="2 S1 M0 L12 XL11"><span class="dev-inner">2 S1 M0 L12 XL11</span></div>
</div>
<div class="o-grid-row">
  <div data-o-grid-colspan="3 S2 M1 L0 XL12"><span class="dev-inner">3 S2 M1 L0 XL12</span></div>
</div>
<div class="o-grid-row">
  <div data-o-grid-colspan="4 S3 M2 L1 XL0"><span class="dev-inner">4 S3 M2 L1 XL0</span></div>
</div>
<div class="o-grid-row">
  <div data-o-grid-colspan="5 S4 M3 L2 XL1"><span class="dev-inner">5 S4 M3 L2 XL1</span></div>
</div>
<div class="o-grid-row">
  <div data-o-grid-colspan="6 S5 M4 L3 XL2"><span class="dev-inner">6 S5 M4 L3 XL2</span></div>
</div>
<div class="o-grid-row">
  <div data-o-grid-colspan="7 S6 M5 L4 XL3"><span class="dev-inner">7 S6 M5 L4 XL3</span></div>
</div>
<div class="o-grid-row">
  <div data-o-grid-colspan="8 S7 M6 L5 XL4"><span class="dev-inner">8 S7 M6 L5 XL4</span></div>
</div>
<div class="o-grid-row">
  <div data-o-grid-colspan="9 S8 M7 L6 XL5"><span class="dev-inner">9 S8 M7 L6 XL5</span></div>
</div>
<div class="o-grid-row">
  <div data-o-grid-colspan="10 S9 M8 L7 XL6"><span class="dev-inner">10 S9 M8 L7 XL6</span></div>
</div>
<div class="o-grid-row">
  <div data-o-grid-colspan="11 S10 M9 L8 XL7"><span class="dev-inner">11 S10 M9 L8 XL7</span></div>
</div>
<div class="o-grid-row">
  <div data-o-grid-colspan="12 S11 M10 L9 XL8"><span class="dev-inner">12 S11 M10 L9 XL8</span></div>
</div>