/* Styles for presenting the grid. Not part of the grid code. */
.header {
  margin: 0 0 20px 0;
  padding: 10px;
  background-color: black;
  color: white;
}

.header h1 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}

.header span {
  font-weight: normal;
  color: #bbb;
}

.docs {
  font-family: Arial, Helvetica, sans-serif;
}

.docs a {
  color: #55a;
}

.docs h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  line-height: 24px;
}

.docs h3 {
  margin: 0 0 10px 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
}

.docs h4 {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 18px;
}

.docs p {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 18px;
}

.docs li {
  font-size: 14px;
  line-height: 18px;
}

.docs code {
  background-color: #ffe;
  color: #885;
}

.example {
  margin-bottom: 20px;
  overflow: hidden;
}

.dev-inner {
  display: block;
  margin-bottom: 10px;
  min-height: 30px;
  text-align: center;
  overflow: hidden;
  font-size: 10px;
  line-height: 30px;
  background-color: #ddd;
}

.ft-grid-row {
  background-color: #eee;
  padding-bottom: 10px;
}

.dev-inner + .ft-grid-row {
  margin-top: 10px;
}

[class*="ft-grid-col"] [class*="ft-grid-col"] .dev-inner {
  border: 1px solid #cccccc;
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .header .mode:after {
    content: "small layout";
  }
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .header .mode:after {
    content: "medium layout";
  }
}
@media screen and (min-width: 1001px) and (max-width: 1400px) {
  .header .mode:after {
    content: "large layout";
  }
}
@media screen and (min-width: 1401px) {
  .header .mode:after {
    content: "extra large layout";
  }
}
