/**


**/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.o-grid-row,
.o-grid-box,
.o-grid-page {
  margin: 0 auto;
}

.o-grid-row {
  clear: both;
  width: 100%;
}

.o-grid-row:after {
  content: '';
  display: block;
  clear: both;
}

.o-grid-row,
.o-grid-page {
  max-width: 600px;
  min-width: 240px;
}

.o-grid-row .o-grid-row,
.o-grid-box .o-grid-row {
  margin-left: -1%;
  margin-right: -1%;
  width: auto;
  max-width: none;
  min-width: 0;
}

[data-o-grid-colspan] {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}

.o-grid-row-compact > [class*="o-grid-col"] {
  padding-left: 0;
  padding-right: 0;
}

.o-grid-row.o-grid-row-compact,
.o-grid-row .o-grid-row.o-grid-row-compact {
  margin-left: 0;
  margin-right: 0;
}

[data-o-grid-colspan~="hide"], [data-o-grid-colspan~="0"] {
  display: none;
}

[data-o-grid-colspan~="1"] {
  width: 6.33333%;
}

[data-o-grid-colspan~="2"] {
  width: 14.66667%;
}

[data-o-grid-colspan~="3"] {
  width: 23%;
}

[data-o-grid-colspan~="4"] {
  width: 31.33333%;
}

[data-o-grid-colspan~="5"] {
  width: 39.66667%;
}

[data-o-grid-colspan~="6"] {
  width: 48%;
}

[data-o-grid-colspan~="7"] {
  width: 56.33333%;
}

[data-o-grid-colspan~="8"] {
  width: 64.66667%;
}

[data-o-grid-colspan~="9"] {
  width: 73%;
}

[data-o-grid-colspan~="10"] {
  width: 81.33333%;
}

[data-o-grid-colspan~="11"] {
  width: 89.66667%;
}

[data-o-grid-colspan~="12"] {
  float: none;
  clear: both;
  width: 98%;
}

[data-o-grid-colspan~="shide"], [data-o-grid-colspan~="s0"] {
  display: none;
}

[data-o-grid-colspan~="s1"] {
  width: 6.33333%;
}

[data-o-grid-colspan~="s2"] {
  width: 14.66667%;
}

[data-o-grid-colspan~="s3"] {
  width: 23%;
}

[data-o-grid-colspan~="s4"] {
  width: 31.33333%;
}

[data-o-grid-colspan~="s5"] {
  width: 39.66667%;
}

[data-o-grid-colspan~="s6"] {
  width: 48%;
}

[data-o-grid-colspan~="s7"] {
  width: 56.33333%;
}

[data-o-grid-colspan~="s8"] {
  width: 64.66667%;
}

[data-o-grid-colspan~="s9"] {
  width: 73%;
}

[data-o-grid-colspan~="s10"] {
  width: 81.33333%;
}

[data-o-grid-colspan~="s11"] {
  width: 89.66667%;
}

[data-o-grid-colspan~="s12"] {
  float: none;
  clear: both;
  width: 98%;
}

.o-grid-no-gutter-s {
  padding-left: 0;
}
.o-grid-no-gutter-s > .o-grid-row {
  margin-left: 0;
}

.o-grid-no-gutter-s {
  padding-right: 0;
}
.o-grid-no-gutter-s > .o-grid-row {
  margin-right: 0;
}

.o-grid-no-gutter,
.o-grid-no-left-gutter {
  padding-left: 0;
}
.o-grid-no-gutter > .o-grid-row,
.o-grid-no-left-gutter > .o-grid-row {
  margin-left: 0;
}

.o-grid-no-gutter,
.o-grid-no-right-gutter {
  padding-right: 0;
}
.o-grid-no-gutter > .o-grid-row,
.o-grid-no-right-gutter > .o-grid-row {
  margin-right: 0;
}

/* Override fixed defaults for responsive grid */
@media screen {
  .o-grid-row .o-grid-row,
  .o-grid-box .o-grid-row {
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
  }

  [data-o-grid-colspan] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .o-grid-row-compact > [class*="o-grid-col"] {
    padding-left: 0;
    padding-right: 0;
  }

  .o-grid-row.o-grid-row-compact,
  .o-grid-row .o-grid-row.o-grid-row-compact {
    margin-left: 0;
    margin-right: 0;
  }

  .o-useragent-ie7 .o-grid-row.o-grid-row-compact,
  .o-useragent-ie7 .o-grid-row .o-grid-row.o-grid-row-compact, .o-useragent-ie8 .o-grid-row.o-grid-row-compact,
  .o-useragent-ie8 .o-grid-row .o-grid-row.o-grid-row-compact {
    margin-left: 0;
    margin-right: 0;
  }

  [data-o-grid-colspan~="s0"], [data-o-grid-colspan~="shide"] {
    display: block;
  }

  [data-o-grid-colspan~="s12"] {
    clear: none;
  }

  [data-o-grid-colspan~="s0"], [data-o-grid-colspan~="s1"], [data-o-grid-colspan~="s2"], [data-o-grid-colspan~="s3"], [data-o-grid-colspan~="s4"], [data-o-grid-colspan~="s5"], [data-o-grid-colspan~="s6"], [data-o-grid-colspan~="s7"], [data-o-grid-colspan~="s8"], [data-o-grid-colspan~="s9"], [data-o-grid-colspan~="s10"], [data-o-grid-colspan~="s11"], [data-o-grid-colspan~="s12"] {
    width: auto;
  }

  .o-grid-no-gutter,
  .o-grid-no-left-gutter {
    padding-left: 0;
  }
  .o-grid-no-gutter > .o-grid-row,
  .o-grid-no-left-gutter > .o-grid-row {
    margin-left: 0;
  }

  .o-grid-no-gutter,
  .o-grid-no-right-gutter {
    padding-right: 0;
  }
  .o-grid-no-gutter > .o-grid-row,
  .o-grid-no-right-gutter > .o-grid-row {
    margin-right: 0;
  }
}
@media screen {
  [data-o-grid-colspan~="hide"], [data-o-grid-colspan~="0"] {
    display: none;
  }

  [data-o-grid-colspan~="1"] {
    width: 8.33333%;
  }

  [data-o-grid-colspan~="2"] {
    width: 16.66667%;
  }

  [data-o-grid-colspan~="3"] {
    width: 25%;
  }

  [data-o-grid-colspan~="4"] {
    width: 33.33333%;
  }

  [data-o-grid-colspan~="5"] {
    width: 41.66667%;
  }

  [data-o-grid-colspan~="6"] {
    width: 50%;
  }

  [data-o-grid-colspan~="7"] {
    width: 58.33333%;
  }

  [data-o-grid-colspan~="8"] {
    width: 66.66667%;
  }

  [data-o-grid-colspan~="9"] {
    width: 75%;
  }

  [data-o-grid-colspan~="10"] {
    width: 83.33333%;
  }

  [data-o-grid-colspan~="11"] {
    width: 91.66667%;
  }

  [data-o-grid-colspan~="12"] {
    float: none;
    clear: both;
    width: 100%;
  }
}
@media screen and (max-device-width: 600px) {
  .o-grid-row,
  .o-grid-page {
    max-width: 600px;
  }

  .o-grid-no-gutter-s {
    padding-left: 0;
  }
  .o-grid-no-gutter-s > .o-grid-row {
    margin-left: 0;
  }

  .o-grid-no-gutter-s {
    padding-right: 0;
  }
  .o-grid-no-gutter-s > .o-grid-row {
    margin-right: 0;
  }

  [data-o-grid-colspan~="shide"], [data-o-grid-colspan~="s0"] {
    display: none;
  }

  [data-o-grid-colspan~="s1"] {
    width: 8.33333%;
  }

  [data-o-grid-colspan~="s2"] {
    width: 16.66667%;
  }

  [data-o-grid-colspan~="s3"] {
    width: 25%;
  }

  [data-o-grid-colspan~="s4"] {
    width: 33.33333%;
  }

  [data-o-grid-colspan~="s5"] {
    width: 41.66667%;
  }

  [data-o-grid-colspan~="s6"] {
    width: 50%;
  }

  [data-o-grid-colspan~="s7"] {
    width: 58.33333%;
  }

  [data-o-grid-colspan~="s8"] {
    width: 66.66667%;
  }

  [data-o-grid-colspan~="s9"] {
    width: 75%;
  }

  [data-o-grid-colspan~="s10"] {
    width: 83.33333%;
  }

  [data-o-grid-colspan~="s11"] {
    width: 91.66667%;
  }

  /* ensures d12 and d0 can be over-ridden by styles for s layout */
  [data-o-grid-colspan~="s1"], [data-o-grid-colspan~="s2"], [data-o-grid-colspan~="s3"], [data-o-grid-colspan~="s4"], [data-o-grid-colspan~="s5"], [data-o-grid-colspan~="s6"], [data-o-grid-colspan~="s7"], [data-o-grid-colspan~="s8"], [data-o-grid-colspan~="s9"], [data-o-grid-colspan~="s10"], [data-o-grid-colspan~="s11"] {
    float: left;
    clear: none;
    display: block;
  }

  [data-o-grid-colspan~="s12"] {
    float: none;
    clear: both;
    width: 100%;
  }
}
@media screen and (min-device-width: 601px) and (max-device-width: 1000px) {
  .o-grid-row,
  .o-grid-page {
    max-width: 780px;
  }

  .o-grid-no-left-gutter-m {
    padding-left: 0;
  }
  .o-grid-no-left-gutter-m > .o-grid-row {
    margin-left: 0;
  }

  [data-o-grid-colspan~="mhide"], [data-o-grid-colspan~="m0"] {
    display: none;
  }

  [data-o-grid-colspan~="m1"] {
    width: 8.33333%;
  }

  [data-o-grid-colspan~="m2"] {
    width: 16.66667%;
  }

  [data-o-grid-colspan~="m3"] {
    width: 25%;
  }

  [data-o-grid-colspan~="m4"] {
    width: 33.33333%;
  }

  [data-o-grid-colspan~="m5"] {
    width: 41.66667%;
  }

  [data-o-grid-colspan~="m6"] {
    width: 50%;
  }

  [data-o-grid-colspan~="m7"] {
    width: 58.33333%;
  }

  [data-o-grid-colspan~="m8"] {
    width: 66.66667%;
  }

  [data-o-grid-colspan~="m9"] {
    width: 75%;
  }

  [data-o-grid-colspan~="m10"] {
    width: 83.33333%;
  }

  [data-o-grid-colspan~="m11"] {
    width: 91.66667%;
  }

  /* ensures d12 and d0 can be over-ridden by styles for m layout */
  [data-o-grid-colspan~="m1"], [data-o-grid-colspan~="m2"], [data-o-grid-colspan~="m3"], [data-o-grid-colspan~="m4"], [data-o-grid-colspan~="m5"], [data-o-grid-colspan~="m6"], [data-o-grid-colspan~="m7"], [data-o-grid-colspan~="m8"], [data-o-grid-colspan~="m9"], [data-o-grid-colspan~="m10"], [data-o-grid-colspan~="m11"] {
    float: left;
    clear: none;
    display: block;
  }

  [data-o-grid-colspan~="m12"] {
    float: none;
    clear: both;
    width: 100%;
  }
}
@media screen and (min-device-width: 1001px) {
  .o-grid-row,
  .o-grid-page {
    max-width: 960px;
  }

  .o-grid-no-right-gutter-l {
    padding-right: 0;
  }
  .o-grid-no-right-gutter-l > .o-grid-row {
    margin-right: 0;
  }

  [data-o-grid-colspan~="lhide"], [data-o-grid-colspan~="l0"] {
    display: none;
  }

  [data-o-grid-colspan~="l1"] {
    width: 8.33333%;
  }

  [data-o-grid-colspan~="l2"] {
    width: 16.66667%;
  }

  [data-o-grid-colspan~="l3"] {
    width: 25%;
  }

  [data-o-grid-colspan~="l4"] {
    width: 33.33333%;
  }

  [data-o-grid-colspan~="l5"] {
    width: 41.66667%;
  }

  [data-o-grid-colspan~="l6"] {
    width: 50%;
  }

  [data-o-grid-colspan~="l7"] {
    width: 58.33333%;
  }

  [data-o-grid-colspan~="l8"] {
    width: 66.66667%;
  }

  [data-o-grid-colspan~="l9"] {
    width: 75%;
  }

  [data-o-grid-colspan~="l10"] {
    width: 83.33333%;
  }

  [data-o-grid-colspan~="l11"] {
    width: 91.66667%;
  }

  /* ensures d12 and d0 can be over-ridden by styles for l layout */
  [data-o-grid-colspan~="l1"], [data-o-grid-colspan~="l2"], [data-o-grid-colspan~="l3"], [data-o-grid-colspan~="l4"], [data-o-grid-colspan~="l5"], [data-o-grid-colspan~="l6"], [data-o-grid-colspan~="l7"], [data-o-grid-colspan~="l8"], [data-o-grid-colspan~="l9"], [data-o-grid-colspan~="l10"], [data-o-grid-colspan~="l11"] {
    float: left;
    clear: none;
    display: block;
  }

  [data-o-grid-colspan~="l12"] {
    float: none;
    clear: both;
    width: 100%;
  }
}
.o-useragent-ie7, .o-useragent-ie8 {
  /* ensures d12 and d0 can be over-ridden by styles for l layout */
}
.o-useragent-ie7 .o-grid-row .o-grid-row,
.o-useragent-ie7 .o-grid-box .o-grid-row, .o-useragent-ie8 .o-grid-row .o-grid-row,
.o-useragent-ie8 .o-grid-box .o-grid-row {
  margin-left: -5px;
  margin-right: -5px;
  width: auto;
}
.o-useragent-ie7 [data-o-grid-colspan], .o-useragent-ie8 [data-o-grid-colspan] {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/o-useragent/polyfills/boxsizing.htc);
}
.o-useragent-ie7 .o-grid-row-compact > [class*="o-grid-col"], .o-useragent-ie8 .o-grid-row-compact > [class*="o-grid-col"] {
  padding-left: 0;
  padding-right: 0;
}
.o-useragent-ie7 .o-grid-row.o-grid-row-compact,
.o-useragent-ie7 .o-grid-row .o-grid-row.o-grid-row-compact, .o-useragent-ie8 .o-grid-row.o-grid-row-compact,
.o-useragent-ie8 .o-grid-row .o-grid-row.o-grid-row-compact {
  margin-left: 0;
  margin-right: 0;
}
.o-useragent-ie7 [data-o-grid-colspan~="hide"], .o-useragent-ie7 [data-o-grid-colspan~="0"], .o-useragent-ie8 [data-o-grid-colspan~="hide"], .o-useragent-ie8 [data-o-grid-colspan~="0"] {
  display: none;
}
.o-useragent-ie7 [data-o-grid-colspan~="1"], .o-useragent-ie8 [data-o-grid-colspan~="1"] {
  width: 8.33333%;
}
.o-useragent-ie7 [data-o-grid-colspan~="2"], .o-useragent-ie8 [data-o-grid-colspan~="2"] {
  width: 16.66667%;
}
.o-useragent-ie7 [data-o-grid-colspan~="3"], .o-useragent-ie8 [data-o-grid-colspan~="3"] {
  width: 25%;
}
.o-useragent-ie7 [data-o-grid-colspan~="4"], .o-useragent-ie8 [data-o-grid-colspan~="4"] {
  width: 33.33333%;
}
.o-useragent-ie7 [data-o-grid-colspan~="5"], .o-useragent-ie8 [data-o-grid-colspan~="5"] {
  width: 41.66667%;
}
.o-useragent-ie7 [data-o-grid-colspan~="6"], .o-useragent-ie8 [data-o-grid-colspan~="6"] {
  width: 50%;
}
.o-useragent-ie7 [data-o-grid-colspan~="7"], .o-useragent-ie8 [data-o-grid-colspan~="7"] {
  width: 58.33333%;
}
.o-useragent-ie7 [data-o-grid-colspan~="8"], .o-useragent-ie8 [data-o-grid-colspan~="8"] {
  width: 66.66667%;
}
.o-useragent-ie7 [data-o-grid-colspan~="9"], .o-useragent-ie8 [data-o-grid-colspan~="9"] {
  width: 75%;
}
.o-useragent-ie7 [data-o-grid-colspan~="10"], .o-useragent-ie8 [data-o-grid-colspan~="10"] {
  width: 83.33333%;
}
.o-useragent-ie7 [data-o-grid-colspan~="11"], .o-useragent-ie8 [data-o-grid-colspan~="11"] {
  width: 91.66667%;
}
.o-useragent-ie7 [data-o-grid-colspan~="12"], .o-useragent-ie8 [data-o-grid-colspan~="12"] {
  float: none;
  clear: both;
  width: 100%;
}
.o-useragent-ie7 [data-o-grid-colspan~="lhide"], .o-useragent-ie7 [data-o-grid-colspan~="l0"], .o-useragent-ie8 [data-o-grid-colspan~="lhide"], .o-useragent-ie8 [data-o-grid-colspan~="l0"] {
  display: none;
}
.o-useragent-ie7 [data-o-grid-colspan~="l1"], .o-useragent-ie8 [data-o-grid-colspan~="l1"] {
  width: 8.33333%;
}
.o-useragent-ie7 [data-o-grid-colspan~="l2"], .o-useragent-ie8 [data-o-grid-colspan~="l2"] {
  width: 16.66667%;
}
.o-useragent-ie7 [data-o-grid-colspan~="l3"], .o-useragent-ie8 [data-o-grid-colspan~="l3"] {
  width: 25%;
}
.o-useragent-ie7 [data-o-grid-colspan~="l4"], .o-useragent-ie8 [data-o-grid-colspan~="l4"] {
  width: 33.33333%;
}
.o-useragent-ie7 [data-o-grid-colspan~="l5"], .o-useragent-ie8 [data-o-grid-colspan~="l5"] {
  width: 41.66667%;
}
.o-useragent-ie7 [data-o-grid-colspan~="l6"], .o-useragent-ie8 [data-o-grid-colspan~="l6"] {
  width: 50%;
}
.o-useragent-ie7 [data-o-grid-colspan~="l7"], .o-useragent-ie8 [data-o-grid-colspan~="l7"] {
  width: 58.33333%;
}
.o-useragent-ie7 [data-o-grid-colspan~="l8"], .o-useragent-ie8 [data-o-grid-colspan~="l8"] {
  width: 66.66667%;
}
.o-useragent-ie7 [data-o-grid-colspan~="l9"], .o-useragent-ie8 [data-o-grid-colspan~="l9"] {
  width: 75%;
}
.o-useragent-ie7 [data-o-grid-colspan~="l10"], .o-useragent-ie8 [data-o-grid-colspan~="l10"] {
  width: 83.33333%;
}
.o-useragent-ie7 [data-o-grid-colspan~="l11"], .o-useragent-ie8 [data-o-grid-colspan~="l11"] {
  width: 91.66667%;
}
.o-useragent-ie7 [data-o-grid-colspan~="l1"], .o-useragent-ie7 [data-o-grid-colspan~="l2"], .o-useragent-ie7 [data-o-grid-colspan~="l3"], .o-useragent-ie7 [data-o-grid-colspan~="l4"], .o-useragent-ie7 [data-o-grid-colspan~="l5"], .o-useragent-ie7 [data-o-grid-colspan~="l6"], .o-useragent-ie7 [data-o-grid-colspan~="l7"], .o-useragent-ie7 [data-o-grid-colspan~="l8"], .o-useragent-ie7 [data-o-grid-colspan~="l9"], .o-useragent-ie7 [data-o-grid-colspan~="l10"], .o-useragent-ie7 [data-o-grid-colspan~="l11"], .o-useragent-ie8 [data-o-grid-colspan~="l1"], .o-useragent-ie8 [data-o-grid-colspan~="l2"], .o-useragent-ie8 [data-o-grid-colspan~="l3"], .o-useragent-ie8 [data-o-grid-colspan~="l4"], .o-useragent-ie8 [data-o-grid-colspan~="l5"], .o-useragent-ie8 [data-o-grid-colspan~="l6"], .o-useragent-ie8 [data-o-grid-colspan~="l7"], .o-useragent-ie8 [data-o-grid-colspan~="l8"], .o-useragent-ie8 [data-o-grid-colspan~="l9"], .o-useragent-ie8 [data-o-grid-colspan~="l10"], .o-useragent-ie8 [data-o-grid-colspan~="l11"] {
  float: left;
  clear: none;
  display: block;
}
.o-useragent-ie7 [data-o-grid-colspan~="l12"], .o-useragent-ie8 [data-o-grid-colspan~="l12"] {
  float: none;
  clear: both;
  width: 100%;
}
.o-useragent-ie7 .o-grid-row,
.o-useragent-ie7 .o-grid-page, .o-useragent-ie8 .o-grid-row,
.o-useragent-ie8 .o-grid-page {
  width: 960px;
  max-width: none;
}
.o-useragent-ie7 [data-o-grid-colspan~="s12"], .o-useragent-ie8 [data-o-grid-colspan~="s12"] {
  clear: none;
}
.o-useragent-ie7 .o-grid-no-right-gutter-l,
.o-useragent-ie8 .o-grid-no-right-gutter-l {
  padding-right: 0;
}
.o-useragent-ie7 .o-grid-no-right-gutter-l > .o-grid-row,
.o-useragent-ie8 .o-grid-no-right-gutter-l > .o-grid-row {
  margin-right: 0;
}
.o-useragent-ie7 .o-grid-no-gutter,
.o-useragent-ie7 .o-grid-no-left-gutter, .o-useragent-ie8 .o-grid-no-gutter,
.o-useragent-ie8 .o-grid-no-left-gutter {
  padding-left: 0;
}
.o-useragent-ie7 .o-grid-no-gutter > .o-grid-row,
.o-useragent-ie7 .o-grid-no-left-gutter > .o-grid-row, .o-useragent-ie8 .o-grid-no-gutter > .o-grid-row,
.o-useragent-ie8 .o-grid-no-left-gutter > .o-grid-row {
  margin-left: 0;
}
.o-useragent-ie7 .o-grid-no-gutter,
.o-useragent-ie7 .o-grid-no-right-gutter, .o-useragent-ie8 .o-grid-no-gutter,
.o-useragent-ie8 .o-grid-no-right-gutter {
  padding-right: 0;
}
.o-useragent-ie7 .o-grid-no-gutter > .o-grid-row,
.o-useragent-ie7 .o-grid-no-right-gutter > .o-grid-row, .o-useragent-ie8 .o-grid-no-gutter > .o-grid-row,
.o-useragent-ie8 .o-grid-no-right-gutter > .o-grid-row {
  margin-right: 0;
}
