html,
body {
  margin: 0;
  padding: 0;
}

.ft-grid-row,
.ft-grid-box {
  clear: both;
  margin: 0 auto;
  width: 100%;
}

.ft-grid-row {
  max-width: 600px;
  min-width: 240px;
}

.ft-grid-row .ft-grid-row,
.ft-grid-box .ft-grid-row {
  margin-left: -1%;
  margin-right: -1%;
  width: auto;
  max-width: none;
  min-width: 0;
}

/* Default grid: Layout 1 FIXED (well, max-width) */
[class*="ft-grid-col"] {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}

[class*="-d0"],
[class*="-s0"] {
  display: none;
}

[class*="-d1"],
[class*="-s1"] {
  width: 6.33333%;
}

[class*="-d2"],
[class*="-s2"] {
  width: 14.66667%;
}

[class*="-d3"],
[class*="-s3"] {
  width: 23%;
}

[class*="-d4"],
[class*="-s4"] {
  width: 31.33333%;
}

[class*="-d5"],
[class*="-s5"] {
  width: 39.66667%;
}

[class*="-d6"],
[class*="-s6"] {
  width: 48%;
}

[class*="-d7"],
[class*="-s7"] {
  width: 56.33333%;
}

[class*="-d8"],
[class*="-s8"] {
  width: 64.66667%;
}

[class*="-d9"],
[class*="-s9"] {
  width: 73%;
}

[class*="-d10"],
[class*="-s10"] {
  width: 81.33333%;
}

[class*="-d11"],
[class*="-s11"] {
  width: 89.66667%;
}

[class*="-d12"],
[class*="-s12"] {
  float: none;
  clear: both;
  width: 98%;
}

/* Override fixed defaults for responsive grid */
@media screen {
  .ft-grid-row .ft-grid-row,
  .ft-grid-box .ft-grid-row {
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
  }

  [class*="ft-grid-col"] {
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }

  [class*="-s0"] {
    display: block;
  }

  [class*="-s12"] {
    clear: none;
  }
}
@media screen {
  .ft-grid-row {
    max-width: none;
  }

  [class*="-dhide"],
  [class*="-d0"] {
    display: none;
  }

  [class*="-d1"] {
    width: 8.33333%;
  }

  [class*="-d2"] {
    width: 16.66667%;
  }

  [class*="-d3"] {
    width: 25%;
  }

  [class*="-d4"] {
    width: 33.33333%;
  }

  [class*="-d5"] {
    width: 41.66667%;
  }

  [class*="-d6"] {
    width: 50%;
  }

  [class*="-d7"] {
    width: 58.33333%;
  }

  [class*="-d8"] {
    width: 66.66667%;
  }

  [class*="-d9"] {
    width: 75%;
  }

  [class*="-d10"] {
    width: 83.33333%;
  }

  [class*="-d11"] {
    width: 91.66667%;
  }

  [class*="-d12"] {
    float: none;
    clear: both;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .ft-grid-row {
    max-width: none;
  }

  [class*="-shide"],
  [class*="-s0"] {
    display: none;
  }

  [class*="-s1"] {
    width: 8.33333%;
  }

  [class*="-s2"] {
    width: 16.66667%;
  }

  [class*="-s3"] {
    width: 25%;
  }

  [class*="-s4"] {
    width: 33.33333%;
  }

  [class*="-s5"] {
    width: 41.66667%;
  }

  [class*="-s6"] {
    width: 50%;
  }

  [class*="-s7"] {
    width: 58.33333%;
  }

  [class*="-s8"] {
    width: 66.66667%;
  }

  [class*="-s9"] {
    width: 75%;
  }

  [class*="-s10"] {
    width: 83.33333%;
  }

  [class*="-s11"] {
    width: 91.66667%;
  }

  /* ensures d12 and d0 can be over-ridden by styles for s layout */
  [class*="-s1"], [class*="-s2"], [class*="-s3"], [class*="-s4"], [class*="-s5"], [class*="-s6"], [class*="-s7"], [class*="-s8"], [class*="-s9"], [class*="-s10"], [class*="-s11"] {
    float: left;
    clear: none;
    display: block;
  }

  [class*="-s12"] {
    float: none;
    clear: both;
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .ft-grid-row {
    max-width: none;
  }

  [class*="-mhide"],
  [class*="-m0"] {
    display: none;
  }

  [class*="-m1"] {
    width: 8.33333%;
  }

  [class*="-m2"] {
    width: 16.66667%;
  }

  [class*="-m3"] {
    width: 25%;
  }

  [class*="-m4"] {
    width: 33.33333%;
  }

  [class*="-m5"] {
    width: 41.66667%;
  }

  [class*="-m6"] {
    width: 50%;
  }

  [class*="-m7"] {
    width: 58.33333%;
  }

  [class*="-m8"] {
    width: 66.66667%;
  }

  [class*="-m9"] {
    width: 75%;
  }

  [class*="-m10"] {
    width: 83.33333%;
  }

  [class*="-m11"] {
    width: 91.66667%;
  }

  /* ensures d12 and d0 can be over-ridden by styles for m layout */
  [class*="-m1"], [class*="-m2"], [class*="-m3"], [class*="-m4"], [class*="-m5"], [class*="-m6"], [class*="-m7"], [class*="-m8"], [class*="-m9"], [class*="-m10"], [class*="-m11"] {
    float: left;
    clear: none;
    display: block;
  }

  [class*="-m12"] {
    float: none;
    clear: both;
    width: 100%;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1400px) {
  .ft-grid-row {
    max-width: none;
  }

  [class*="-lhide"],
  [class*="-l0"] {
    display: none;
  }

  [class*="-l1"] {
    width: 8.33333%;
  }

  [class*="-l2"] {
    width: 16.66667%;
  }

  [class*="-l3"] {
    width: 25%;
  }

  [class*="-l4"] {
    width: 33.33333%;
  }

  [class*="-l5"] {
    width: 41.66667%;
  }

  [class*="-l6"] {
    width: 50%;
  }

  [class*="-l7"] {
    width: 58.33333%;
  }

  [class*="-l8"] {
    width: 66.66667%;
  }

  [class*="-l9"] {
    width: 75%;
  }

  [class*="-l10"] {
    width: 83.33333%;
  }

  [class*="-l11"] {
    width: 91.66667%;
  }

  /* ensures d12 and d0 can be over-ridden by styles for l layout */
  [class*="-l1"], [class*="-l2"], [class*="-l3"], [class*="-l4"], [class*="-l5"], [class*="-l6"], [class*="-l7"], [class*="-l8"], [class*="-l9"], [class*="-l10"], [class*="-l11"] {
    float: left;
    clear: none;
    display: block;
  }

  [class*="-l12"] {
    float: none;
    clear: both;
    width: 100%;
  }
}
@media screen and (min-width: 1401px) {
  .ft-grid-row {
    max-width: 1360px;
  }

  [class*="-xlhide"],
  [class*="-xl0"] {
    display: none;
  }

  [class*="-xl1"] {
    width: 8.33333%;
  }

  [class*="-xl2"] {
    width: 16.66667%;
  }

  [class*="-xl3"] {
    width: 25%;
  }

  [class*="-xl4"] {
    width: 33.33333%;
  }

  [class*="-xl5"] {
    width: 41.66667%;
  }

  [class*="-xl6"] {
    width: 50%;
  }

  [class*="-xl7"] {
    width: 58.33333%;
  }

  [class*="-xl8"] {
    width: 66.66667%;
  }

  [class*="-xl9"] {
    width: 75%;
  }

  [class*="-xl10"] {
    width: 83.33333%;
  }

  [class*="-xl11"] {
    width: 91.66667%;
  }

  /* ensures d12 and d0 can be over-ridden by styles for xl layout */
  [class*="-xl1"], [class*="-xl2"], [class*="-xl3"], [class*="-xl4"], [class*="-xl5"], [class*="-xl6"], [class*="-xl7"], [class*="-xl8"], [class*="-xl9"], [class*="-xl10"], [class*="-xl11"] {
    float: left;
    clear: none;
    display: block;
  }

  [class*="-xl12"] {
    float: none;
    clear: both;
    width: 100%;
  }
}
.lt-ie9 .ft-grid-row {
  width: 960px;
  max-width: 960px;
}
.lt-ie9 .ft-grid-row .ft-grid-row,
.lt-ie9 .ft-grid-box .ft-grid-row {
  margin-left: -5px;
  margin-right: -5px;
  width: auto;
}
.lt-ie9 [class*="ft-grid-col"] {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/polyfills/boxsizing.htc);
}
.lt-ie9 [class*="-d0"],
.lt-ie9 [class*="-l0"] {
  display: none;
}
.lt-ie9 [class*="-d12"],
.lt-ie9 [class*="-l12"] {
  float: none;
  clear: both;
  width: 100%;
}
.lt-ie9 [class*="-d1"],
.lt-ie9 [class*="-l1"] {
  width: 8.33333%;
}
.lt-ie9 [class*="-d2"],
.lt-ie9 [class*="-l2"] {
  width: 16.66667%;
}
.lt-ie9 [class*="-d3"],
.lt-ie9 [class*="-l3"] {
  width: 25%;
}
.lt-ie9 [class*="-d4"],
.lt-ie9 [class*="-l4"] {
  width: 33.33333%;
}
.lt-ie9 [class*="-d5"],
.lt-ie9 [class*="-l5"] {
  width: 41.66667%;
}
.lt-ie9 [class*="-d6"],
.lt-ie9 [class*="-l6"] {
  width: 50%;
}
.lt-ie9 [class*="-d7"],
.lt-ie9 [class*="-l7"] {
  width: 58.33333%;
}
.lt-ie9 [class*="-d8"],
.lt-ie9 [class*="-l8"] {
  width: 66.66667%;
}
.lt-ie9 [class*="-d9"],
.lt-ie9 [class*="-l9"] {
  width: 75%;
}
.lt-ie9 [class*="-d10"],
.lt-ie9 [class*="-l10"] {
  width: 83.33333%;
}
.lt-ie9 [class*="-d11"],
.lt-ie9 [class*="-l11"] {
  width: 91.66667%;
}
.lt-ie9 [class*="-lhide"] {
  display: none;
}
.lt-ie9 [class*="-s12"] {
  clear: none;
}
