/**


**/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.o-grid-row,
.o-grid-box,
.o-grid-page {
  margin: 0 auto;
}

.o-grid-row {
  clear: both;
  width: 100%;
}

.o-grid-row:after {
  content: '';
  display: block;
  clear: both;
}

.o-grid-row,
.o-grid-page {
  max-width: 600px;
  min-width: 240px;
}

.o-grid-row .o-grid-row,
.o-grid-box .o-grid-row {
  margin-left: -1%;
  margin-right: -1%;
  width: auto;
  max-width: none;
  min-width: 0;
}

.o-grid-row.o-grid-row-compact,
.o-grid-row .o-grid-row.o-grid-row-compact {
  margin-left: 0;
  margin-right: 0;
}

[class*="o-grid-col"] {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}

.o-grid-row-compact > [class*="o-grid-col"] {
  padding-left: 0;
  padding-right: 0;
}

[class*="|hide|"],
[class*="|0|"] {
  display: none;
}

[class*="|1|"] {
  width: 6.33333%;
}

[class*="|2|"] {
  width: 14.66667%;
}

[class*="|3|"] {
  width: 23%;
}

[class*="|4|"] {
  width: 31.33333%;
}

[class*="|5|"] {
  width: 39.66667%;
}

[class*="|6|"] {
  width: 48%;
}

[class*="|7|"] {
  width: 56.33333%;
}

[class*="|8|"] {
  width: 64.66667%;
}

[class*="|9|"] {
  width: 73%;
}

[class*="|10|"] {
  width: 81.33333%;
}

[class*="|11|"] {
  width: 89.66667%;
}

[class*="|12|"] {
  float: none;
  clear: both;
  width: 98%;
}

[class*="|shide|"],
[class*="|s0|"] {
  display: none;
}

[class*="|s1|"] {
  width: 6.33333%;
}

[class*="|s2|"] {
  width: 14.66667%;
}

[class*="|s3|"] {
  width: 23%;
}

[class*="|s4|"] {
  width: 31.33333%;
}

[class*="|s5|"] {
  width: 39.66667%;
}

[class*="|s6|"] {
  width: 48%;
}

[class*="|s7|"] {
  width: 56.33333%;
}

[class*="|s8|"] {
  width: 64.66667%;
}

[class*="|s9|"] {
  width: 73%;
}

[class*="|s10|"] {
  width: 81.33333%;
}

[class*="|s11|"] {
  width: 89.66667%;
}

[class*="|s12|"] {
  float: none;
  clear: both;
  width: 98%;
}

.o-grid-no-gutter-s {
  padding-left: 0;
}
.o-grid-no-gutter-s > .o-grid-row {
  margin-left: 0;
}

.o-grid-no-gutter-s {
  padding-right: 0;
}
.o-grid-no-gutter-s > .o-grid-row {
  margin-right: 0;
}

.o-grid-no-gutter,
.o-grid-no-left-gutter {
  padding-left: 0;
}
.o-grid-no-gutter > .o-grid-row,
.o-grid-no-left-gutter > .o-grid-row {
  margin-left: 0;
}

.o-grid-no-gutter,
.o-grid-no-right-gutter {
  padding-right: 0;
}
.o-grid-no-gutter > .o-grid-row,
.o-grid-no-right-gutter > .o-grid-row {
  margin-right: 0;
}

.o-grid-row .o-grid-row,
.o-grid-box .o-grid-row {
  margin-left: -5px;
  margin-right: -5px;
  width: auto;
}

.o-grid-row.o-grid-row-compact,
.o-grid-row .o-grid-row.o-grid-row-compact {
  margin-left: 0;
  margin-right: 0;
}

[class*="o-grid-col"] {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/o-useragent/polyfills/boxsizing.htc);
}

.o-grid-row-compact > [class*="o-grid-col"] {
  padding-left: 0;
  padding-right: 0;
}

[class*="|hide|"],
[class*="|0|"] {
  display: none;
}

[class*="|1|"] {
  width: 8.33333%;
}

[class*="|2|"] {
  width: 16.66667%;
}

[class*="|3|"] {
  width: 25%;
}

[class*="|4|"] {
  width: 33.33333%;
}

[class*="|5|"] {
  width: 41.66667%;
}

[class*="|6|"] {
  width: 50%;
}

[class*="|7|"] {
  width: 58.33333%;
}

[class*="|8|"] {
  width: 66.66667%;
}

[class*="|9|"] {
  width: 75%;
}

[class*="|10|"] {
  width: 83.33333%;
}

[class*="|11|"] {
  width: 91.66667%;
}

[class*="|12|"] {
  float: none;
  clear: both;
  width: 100%;
}

[class*="|lhide|"],
[class*="|l0|"] {
  display: none;
}

[class*="|l1|"] {
  width: 8.33333%;
}

[class*="|l2|"] {
  width: 16.66667%;
}

[class*="|l3|"] {
  width: 25%;
}

[class*="|l4|"] {
  width: 33.33333%;
}

[class*="|l5|"] {
  width: 41.66667%;
}

[class*="|l6|"] {
  width: 50%;
}

[class*="|l7|"] {
  width: 58.33333%;
}

[class*="|l8|"] {
  width: 66.66667%;
}

[class*="|l9|"] {
  width: 75%;
}

[class*="|l10|"] {
  width: 83.33333%;
}

[class*="|l11|"] {
  width: 91.66667%;
}

/* ensures d12 and d0 can be over-ridden by styles for l layout */
[class*="|l1|"], [class*="|l2|"], [class*="|l3|"], [class*="|l4|"], [class*="|l5|"], [class*="|l6|"], [class*="|l7|"], [class*="|l8|"], [class*="|l9|"], [class*="|l10|"], [class*="|l11|"] {
  float: left;
  clear: none;
  display: block;
}

[class*="|l12|"] {
  float: none;
  clear: both;
  width: 100%;
}

.o-grid-row,
.o-grid-page {
  width: 960px;
  max-width: none;
}

[class*="|s12|"] {
  clear: none;
}

.o-grid-no-right-gutter-l {
  padding-right: 0;
}
.o-grid-no-right-gutter-l > .o-grid-row {
  margin-right: 0;
}

.o-grid-no-gutter,
.o-grid-no-left-gutter {
  padding-left: 0;
}
.o-grid-no-gutter > .o-grid-row,
.o-grid-no-left-gutter > .o-grid-row {
  margin-left: 0;
}

.o-grid-no-gutter,
.o-grid-no-right-gutter {
  padding-right: 0;
}
.o-grid-no-gutter > .o-grid-row,
.o-grid-no-right-gutter > .o-grid-row {
  margin-right: 0;
}
