/**


**/
/* 
	Note: The identically named mixins and functions below is not a mistake; it means they can be used to either 
	output a string or to wrap some style rules in a selector
*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.o-grid-row, .o-grid-box, .o-grid-page {
  margin: 0 auto;
}

.o-grid-row {
  clear: both;
  width: 100%;
}

.o-grid-row:after {
  content: '';
  display: block;
  clear: both;
}

.o-grid-row, .o-grid-page {
  max-width: 600px;
  min-width: 240px;
}

.o-grid-row .o-grid-row, .o-grid-box .o-grid-row {
  margin-left: -1%;
  margin-right: -1%;
  width: auto;
  max-width: none;
  min-width: 0;
}

[data-o-grid-colspan] {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}

.o-grid-row-compact > [data-o-grid-colspan] {
  padding-left: 0;
  padding-right: 0;
}

.o-grid-row.o-grid-row-compact,
.o-grid-row .o-grid-row.o-grid-row-compact {
  margin-left: 0;
  margin-right: 0;
}

[data-o-grid-colspan~="hide"], [data-o-grid-colspan~="0"] {
  display: none;
}

[data-o-grid-colspan~="1"] {
  width: 6.33333%;
}

[data-o-grid-colspan~="2"] {
  width: 14.66667%;
}

[data-o-grid-colspan~="3"] {
  width: 23%;
}

[data-o-grid-colspan~="4"] {
  width: 31.33333%;
}

[data-o-grid-colspan~="5"] {
  width: 39.66667%;
}

[data-o-grid-colspan~="6"] {
  width: 48%;
}

[data-o-grid-colspan~="7"] {
  width: 56.33333%;
}

[data-o-grid-colspan~="8"] {
  width: 64.66667%;
}

[data-o-grid-colspan~="9"] {
  width: 73%;
}

[data-o-grid-colspan~="10"] {
  width: 81.33333%;
}

[data-o-grid-colspan~="11"] {
  width: 89.66667%;
}

[data-o-grid-colspan~="12"] {
  float: none;
  clear: both;
  display: block;
  width: 98%;
}

[data-o-grid-colspan~="Shide"], [data-o-grid-colspan~="S0"] {
  display: none;
}

[data-o-grid-colspan~="S1"] {
  width: 6.33333%;
}

[data-o-grid-colspan~="S2"] {
  width: 14.66667%;
}

[data-o-grid-colspan~="S3"] {
  width: 23%;
}

[data-o-grid-colspan~="S4"] {
  width: 31.33333%;
}

[data-o-grid-colspan~="S5"] {
  width: 39.66667%;
}

[data-o-grid-colspan~="S6"] {
  width: 48%;
}

[data-o-grid-colspan~="S7"] {
  width: 56.33333%;
}

[data-o-grid-colspan~="S8"] {
  width: 64.66667%;
}

[data-o-grid-colspan~="S9"] {
  width: 73%;
}

[data-o-grid-colspan~="S10"] {
  width: 81.33333%;
}

[data-o-grid-colspan~="S11"] {
  width: 89.66667%;
}

[data-o-grid-colspan~="S12"] {
  float: none;
  clear: both;
  display: block;
  width: 98%;
}

.o-grid-no-gutter,
.o-grid-no-left-gutter {
  padding-left: 0;
}
.o-grid-no-gutter > .o-grid-row,
.o-grid-no-left-gutter > .o-grid-row {
  margin-left: 0;
}

.o-grid-no-gutter,
.o-grid-no-right-gutter {
  padding-right: 0;
}
.o-grid-no-gutter > .o-grid-row,
.o-grid-no-right-gutter > .o-grid-row {
  margin-right: 0;
}

/* Override fixed defaults for responsive grid */
@media screen {
  .o-grid-row .o-grid-row, .o-grid-box .o-grid-row {
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
  }

  [data-o-grid-colspan] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .o-grid-row-compact > [data-o-grid-colspan] {
    padding-left: 0;
    padding-right: 0;
  }

  .o-grid-row.o-grid-row-compact,
  .o-grid-row .o-grid-row.o-grid-row-compact {
    margin-left: 0;
    margin-right: 0;
  }

  .o-useragent-ie7 .o-grid-row.o-grid-row-compact,
  .o-useragent-ie7 .o-grid-row .o-grid-row.o-grid-row-compact, .o-useragent-ie8 .o-grid-row.o-grid-row-compact,
  .o-useragent-ie8 .o-grid-row .o-grid-row.o-grid-row-compact {
    margin-left: 0;
    margin-right: 0;
  }

  [data-o-grid-colspan~="S0"], [data-o-grid-colspan~="Shide"] {
    display: block;
  }

  [data-o-grid-colspan~="S12"] {
    clear: none;
  }

  [data-o-grid-colspan~="s0"], [data-o-grid-colspan~="s1"], [data-o-grid-colspan~="s2"], [data-o-grid-colspan~="s3"], [data-o-grid-colspan~="s4"], [data-o-grid-colspan~="s5"], [data-o-grid-colspan~="s6"], [data-o-grid-colspan~="s7"], [data-o-grid-colspan~="s8"], [data-o-grid-colspan~="s9"], [data-o-grid-colspan~="s10"], [data-o-grid-colspan~="s11"], [data-o-grid-colspan~="s12"] {
    width: auto;
  }

  .o-grid-no-gutter,
  .o-grid-no-left-gutter {
    padding-left: 0;
  }
  .o-grid-no-gutter > .o-grid-row,
  .o-grid-no-left-gutter > .o-grid-row {
    margin-left: 0;
  }

  .o-grid-no-gutter,
  .o-grid-no-right-gutter {
    padding-right: 0;
  }
  .o-grid-no-gutter > .o-grid-row,
  .o-grid-no-right-gutter > .o-grid-row {
    margin-right: 0;
  }
}
@media screen {
  .o-grid-no-gutter,
  .o-grid-no-left-gutter {
    padding-left: 0;
  }
  .o-grid-no-gutter > .o-grid-row,
  .o-grid-no-left-gutter > .o-grid-row {
    margin-left: 0;
  }

  .o-grid-no-gutter,
  .o-grid-no-right-gutter {
    padding-right: 0;
  }
  .o-grid-no-gutter > .o-grid-row,
  .o-grid-no-right-gutter > .o-grid-row {
    margin-right: 0;
  }

  [data-o-grid-colspan~="hide"], [data-o-grid-colspan~="0"] {
    display: none;
  }

  [data-o-grid-colspan~="1"] {
    width: 8.33333%;
  }

  [data-o-grid-colspan~="2"] {
    width: 16.66667%;
  }

  [data-o-grid-colspan~="3"] {
    width: 25%;
  }

  [data-o-grid-colspan~="4"] {
    width: 33.33333%;
  }

  [data-o-grid-colspan~="5"] {
    width: 41.66667%;
  }

  [data-o-grid-colspan~="6"] {
    width: 50%;
  }

  [data-o-grid-colspan~="7"] {
    width: 58.33333%;
  }

  [data-o-grid-colspan~="8"] {
    width: 66.66667%;
  }

  [data-o-grid-colspan~="9"] {
    width: 75%;
  }

  [data-o-grid-colspan~="10"] {
    width: 83.33333%;
  }

  [data-o-grid-colspan~="11"] {
    width: 91.66667%;
  }

  [data-o-grid-colspan~="12"] {
    float: none;
    clear: both;
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .o-grid-row, .o-grid-page {
    max-width: 600px;
  }

  [data-o-grid-colspan~="Shide"], [data-o-grid-colspan~="S0"] {
    display: none;
  }

  [data-o-grid-colspan~="S1"] {
    width: 8.33333%;
  }

  [data-o-grid-colspan~="S2"] {
    width: 16.66667%;
  }

  [data-o-grid-colspan~="S3"] {
    width: 25%;
  }

  [data-o-grid-colspan~="S4"] {
    width: 33.33333%;
  }

  [data-o-grid-colspan~="S5"] {
    width: 41.66667%;
  }

  [data-o-grid-colspan~="S6"] {
    width: 50%;
  }

  [data-o-grid-colspan~="S7"] {
    width: 58.33333%;
  }

  [data-o-grid-colspan~="S8"] {
    width: 66.66667%;
  }

  [data-o-grid-colspan~="S9"] {
    width: 75%;
  }

  [data-o-grid-colspan~="S10"] {
    width: 83.33333%;
  }

  [data-o-grid-colspan~="S11"] {
    width: 91.66667%;
  }

  /* ensures d12 and d0 can be over-ridden by styles for S layout */
  [data-o-grid-colspan~="S1"], [data-o-grid-colspan~="S2"], [data-o-grid-colspan~="S3"], [data-o-grid-colspan~="S4"], [data-o-grid-colspan~="S5"], [data-o-grid-colspan~="S6"], [data-o-grid-colspan~="S7"], [data-o-grid-colspan~="S8"], [data-o-grid-colspan~="S9"], [data-o-grid-colspan~="S10"], [data-o-grid-colspan~="S11"] {
    float: left;
    clear: none;
    display: block;
  }

  [data-o-grid-colspan~="S12"] {
    float: none;
    clear: both;
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .o-grid-row, .o-grid-page {
    max-width: 780px;
  }

  [data-o-grid-colspan~="Mhide"], [data-o-grid-colspan~="M0"] {
    display: none;
  }

  [data-o-grid-colspan~="M1"] {
    width: 8.33333%;
  }

  [data-o-grid-colspan~="M2"] {
    width: 16.66667%;
  }

  [data-o-grid-colspan~="M3"] {
    width: 25%;
  }

  [data-o-grid-colspan~="M4"] {
    width: 33.33333%;
  }

  [data-o-grid-colspan~="M5"] {
    width: 41.66667%;
  }

  [data-o-grid-colspan~="M6"] {
    width: 50%;
  }

  [data-o-grid-colspan~="M7"] {
    width: 58.33333%;
  }

  [data-o-grid-colspan~="M8"] {
    width: 66.66667%;
  }

  [data-o-grid-colspan~="M9"] {
    width: 75%;
  }

  [data-o-grid-colspan~="M10"] {
    width: 83.33333%;
  }

  [data-o-grid-colspan~="M11"] {
    width: 91.66667%;
  }

  /* ensures d12 and d0 can be over-ridden by styles for M layout */
  [data-o-grid-colspan~="M1"], [data-o-grid-colspan~="M2"], [data-o-grid-colspan~="M3"], [data-o-grid-colspan~="M4"], [data-o-grid-colspan~="M5"], [data-o-grid-colspan~="M6"], [data-o-grid-colspan~="M7"], [data-o-grid-colspan~="M8"], [data-o-grid-colspan~="M9"], [data-o-grid-colspan~="M10"], [data-o-grid-colspan~="M11"] {
    float: left;
    clear: none;
    display: block;
  }

  [data-o-grid-colspan~="M12"] {
    float: none;
    clear: both;
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1400px) {
  .o-grid-row, .o-grid-page {
    max-width: 960px;
  }

  [data-o-grid-colspan~="Lhide"], [data-o-grid-colspan~="L0"] {
    display: none;
  }

  [data-o-grid-colspan~="L1"] {
    width: 8.33333%;
  }

  [data-o-grid-colspan~="L2"] {
    width: 16.66667%;
  }

  [data-o-grid-colspan~="L3"] {
    width: 25%;
  }

  [data-o-grid-colspan~="L4"] {
    width: 33.33333%;
  }

  [data-o-grid-colspan~="L5"] {
    width: 41.66667%;
  }

  [data-o-grid-colspan~="L6"] {
    width: 50%;
  }

  [data-o-grid-colspan~="L7"] {
    width: 58.33333%;
  }

  [data-o-grid-colspan~="L8"] {
    width: 66.66667%;
  }

  [data-o-grid-colspan~="L9"] {
    width: 75%;
  }

  [data-o-grid-colspan~="L10"] {
    width: 83.33333%;
  }

  [data-o-grid-colspan~="L11"] {
    width: 91.66667%;
  }

  /* ensures d12 and d0 can be over-ridden by styles for L layout */
  [data-o-grid-colspan~="L1"], [data-o-grid-colspan~="L2"], [data-o-grid-colspan~="L3"], [data-o-grid-colspan~="L4"], [data-o-grid-colspan~="L5"], [data-o-grid-colspan~="L6"], [data-o-grid-colspan~="L7"], [data-o-grid-colspan~="L8"], [data-o-grid-colspan~="L9"], [data-o-grid-colspan~="L10"], [data-o-grid-colspan~="L11"] {
    float: left;
    clear: none;
    display: block;
  }

  [data-o-grid-colspan~="L12"] {
    float: none;
    clear: both;
    display: block;
    width: 100%;
  }
}
.o-useragent-ie7, .o-useragent-ie8 {
  /* ensures d12 and d0 can be over-ridden by styles for L layout */
}
.o-useragent-ie7 .o-grid-row, .o-useragent-ie7 .o-grid-page, .o-useragent-ie8 .o-grid-row, .o-useragent-ie8 .o-grid-page {
  max-width: 960px;
}
.o-useragent-ie7 [data-o-grid-colspan~="Lhide"], .o-useragent-ie7 [data-o-grid-colspan~="L0"], .o-useragent-ie8 [data-o-grid-colspan~="Lhide"], .o-useragent-ie8 [data-o-grid-colspan~="L0"] {
  display: none;
}
.o-useragent-ie7 [data-o-grid-colspan~="L1"], .o-useragent-ie8 [data-o-grid-colspan~="L1"] {
  width: 8.33333%;
}
.o-useragent-ie7 [data-o-grid-colspan~="L2"], .o-useragent-ie8 [data-o-grid-colspan~="L2"] {
  width: 16.66667%;
}
.o-useragent-ie7 [data-o-grid-colspan~="L3"], .o-useragent-ie8 [data-o-grid-colspan~="L3"] {
  width: 25%;
}
.o-useragent-ie7 [data-o-grid-colspan~="L4"], .o-useragent-ie8 [data-o-grid-colspan~="L4"] {
  width: 33.33333%;
}
.o-useragent-ie7 [data-o-grid-colspan~="L5"], .o-useragent-ie8 [data-o-grid-colspan~="L5"] {
  width: 41.66667%;
}
.o-useragent-ie7 [data-o-grid-colspan~="L6"], .o-useragent-ie8 [data-o-grid-colspan~="L6"] {
  width: 50%;
}
.o-useragent-ie7 [data-o-grid-colspan~="L7"], .o-useragent-ie8 [data-o-grid-colspan~="L7"] {
  width: 58.33333%;
}
.o-useragent-ie7 [data-o-grid-colspan~="L8"], .o-useragent-ie8 [data-o-grid-colspan~="L8"] {
  width: 66.66667%;
}
.o-useragent-ie7 [data-o-grid-colspan~="L9"], .o-useragent-ie8 [data-o-grid-colspan~="L9"] {
  width: 75%;
}
.o-useragent-ie7 [data-o-grid-colspan~="L10"], .o-useragent-ie8 [data-o-grid-colspan~="L10"] {
  width: 83.33333%;
}
.o-useragent-ie7 [data-o-grid-colspan~="L11"], .o-useragent-ie8 [data-o-grid-colspan~="L11"] {
  width: 91.66667%;
}
.o-useragent-ie7 [data-o-grid-colspan~="L1"], .o-useragent-ie7 [data-o-grid-colspan~="L2"], .o-useragent-ie7 [data-o-grid-colspan~="L3"], .o-useragent-ie7 [data-o-grid-colspan~="L4"], .o-useragent-ie7 [data-o-grid-colspan~="L5"], .o-useragent-ie7 [data-o-grid-colspan~="L6"], .o-useragent-ie7 [data-o-grid-colspan~="L7"], .o-useragent-ie7 [data-o-grid-colspan~="L8"], .o-useragent-ie7 [data-o-grid-colspan~="L9"], .o-useragent-ie7 [data-o-grid-colspan~="L10"], .o-useragent-ie7 [data-o-grid-colspan~="L11"], .o-useragent-ie8 [data-o-grid-colspan~="L1"], .o-useragent-ie8 [data-o-grid-colspan~="L2"], .o-useragent-ie8 [data-o-grid-colspan~="L3"], .o-useragent-ie8 [data-o-grid-colspan~="L4"], .o-useragent-ie8 [data-o-grid-colspan~="L5"], .o-useragent-ie8 [data-o-grid-colspan~="L6"], .o-useragent-ie8 [data-o-grid-colspan~="L7"], .o-useragent-ie8 [data-o-grid-colspan~="L8"], .o-useragent-ie8 [data-o-grid-colspan~="L9"], .o-useragent-ie8 [data-o-grid-colspan~="L10"], .o-useragent-ie8 [data-o-grid-colspan~="L11"] {
  float: left;
  clear: none;
  display: block;
}
.o-useragent-ie7 [data-o-grid-colspan~="L12"], .o-useragent-ie8 [data-o-grid-colspan~="L12"] {
  float: none;
  clear: both;
  display: block;
  width: 100%;
}

@media screen and (min-width: 1401px) {
  .o-grid-row, .o-grid-page {
    max-width: 1360px;
  }

  [data-o-grid-colspan~="XLhide"], [data-o-grid-colspan~="XL0"] {
    display: none;
  }

  [data-o-grid-colspan~="XL1"] {
    width: 8.33333%;
  }

  [data-o-grid-colspan~="XL2"] {
    width: 16.66667%;
  }

  [data-o-grid-colspan~="XL3"] {
    width: 25%;
  }

  [data-o-grid-colspan~="XL4"] {
    width: 33.33333%;
  }

  [data-o-grid-colspan~="XL5"] {
    width: 41.66667%;
  }

  [data-o-grid-colspan~="XL6"] {
    width: 50%;
  }

  [data-o-grid-colspan~="XL7"] {
    width: 58.33333%;
  }

  [data-o-grid-colspan~="XL8"] {
    width: 66.66667%;
  }

  [data-o-grid-colspan~="XL9"] {
    width: 75%;
  }

  [data-o-grid-colspan~="XL10"] {
    width: 83.33333%;
  }

  [data-o-grid-colspan~="XL11"] {
    width: 91.66667%;
  }

  /* ensures d12 and d0 can be over-ridden by styles for XL layout */
  [data-o-grid-colspan~="XL1"], [data-o-grid-colspan~="XL2"], [data-o-grid-colspan~="XL3"], [data-o-grid-colspan~="XL4"], [data-o-grid-colspan~="XL5"], [data-o-grid-colspan~="XL6"], [data-o-grid-colspan~="XL7"], [data-o-grid-colspan~="XL8"], [data-o-grid-colspan~="XL9"], [data-o-grid-colspan~="XL10"], [data-o-grid-colspan~="XL11"] {
    float: left;
    clear: none;
    display: block;
  }

  [data-o-grid-colspan~="XL12"] {
    float: none;
    clear: both;
    display: block;
    width: 100%;
  }
}
.o-useragent-ie7 .o-grid-row .o-grid-row, .o-useragent-ie7 .o-grid-box .o-grid-row, .o-useragent-ie8 .o-grid-row .o-grid-row, .o-useragent-ie8 .o-grid-box .o-grid-row {
  margin-left: -5px;
  margin-right: -5px;
  width: auto;
}
.o-useragent-ie7 [data-o-grid-colspan], .o-useragent-ie8 [data-o-grid-colspan] {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/o-useragent/polyfills/boxsizing.htc);
}
.o-useragent-ie7 .o-grid-row-compact > [data-o-grid-colspan], .o-useragent-ie8 .o-grid-row-compact > [data-o-grid-colspan] {
  padding-left: 0;
  padding-right: 0;
}
.o-useragent-ie7 .o-grid-row.o-grid-row-compact,
.o-useragent-ie7 .o-grid-row .o-grid-row.o-grid-row-compact, .o-useragent-ie8 .o-grid-row.o-grid-row-compact,
.o-useragent-ie8 .o-grid-row .o-grid-row.o-grid-row-compact {
  margin-left: 0;
  margin-right: 0;
}
.o-useragent-ie7 [data-o-grid-colspan~="hide"], .o-useragent-ie7 [data-o-grid-colspan~="0"], .o-useragent-ie8 [data-o-grid-colspan~="hide"], .o-useragent-ie8 [data-o-grid-colspan~="0"] {
  display: none;
}
.o-useragent-ie7 [data-o-grid-colspan~="1"], .o-useragent-ie8 [data-o-grid-colspan~="1"] {
  width: 8.33333%;
}
.o-useragent-ie7 [data-o-grid-colspan~="2"], .o-useragent-ie8 [data-o-grid-colspan~="2"] {
  width: 16.66667%;
}
.o-useragent-ie7 [data-o-grid-colspan~="3"], .o-useragent-ie8 [data-o-grid-colspan~="3"] {
  width: 25%;
}
.o-useragent-ie7 [data-o-grid-colspan~="4"], .o-useragent-ie8 [data-o-grid-colspan~="4"] {
  width: 33.33333%;
}
.o-useragent-ie7 [data-o-grid-colspan~="5"], .o-useragent-ie8 [data-o-grid-colspan~="5"] {
  width: 41.66667%;
}
.o-useragent-ie7 [data-o-grid-colspan~="6"], .o-useragent-ie8 [data-o-grid-colspan~="6"] {
  width: 50%;
}
.o-useragent-ie7 [data-o-grid-colspan~="7"], .o-useragent-ie8 [data-o-grid-colspan~="7"] {
  width: 58.33333%;
}
.o-useragent-ie7 [data-o-grid-colspan~="8"], .o-useragent-ie8 [data-o-grid-colspan~="8"] {
  width: 66.66667%;
}
.o-useragent-ie7 [data-o-grid-colspan~="9"], .o-useragent-ie8 [data-o-grid-colspan~="9"] {
  width: 75%;
}
.o-useragent-ie7 [data-o-grid-colspan~="10"], .o-useragent-ie8 [data-o-grid-colspan~="10"] {
  width: 83.33333%;
}
.o-useragent-ie7 [data-o-grid-colspan~="11"], .o-useragent-ie8 [data-o-grid-colspan~="11"] {
  width: 91.66667%;
}
.o-useragent-ie7 [data-o-grid-colspan~="12"], .o-useragent-ie8 [data-o-grid-colspan~="12"] {
  float: none;
  clear: both;
  display: block;
  width: 100%;
}
.o-useragent-ie7 .o-grid-row, .o-useragent-ie7 .o-grid-page, .o-useragent-ie8 .o-grid-row, .o-useragent-ie8 .o-grid-page {
  width: 960px;
  max-width: none;
}
.o-useragent-ie7 [data-o-grid-colspan~="S12"], .o-useragent-ie8 [data-o-grid-colspan~="S12"] {
  clear: none;
}
.o-useragent-ie7 .o-grid-no-gutter,
.o-useragent-ie7 .o-grid-no-left-gutter, .o-useragent-ie8 .o-grid-no-gutter,
.o-useragent-ie8 .o-grid-no-left-gutter {
  padding-left: 0;
}
.o-useragent-ie7 .o-grid-no-gutter > .o-grid-row,
.o-useragent-ie7 .o-grid-no-left-gutter > .o-grid-row, .o-useragent-ie8 .o-grid-no-gutter > .o-grid-row,
.o-useragent-ie8 .o-grid-no-left-gutter > .o-grid-row {
  margin-left: 0;
}
.o-useragent-ie7 .o-grid-no-gutter,
.o-useragent-ie7 .o-grid-no-right-gutter, .o-useragent-ie8 .o-grid-no-gutter,
.o-useragent-ie8 .o-grid-no-right-gutter {
  padding-right: 0;
}
.o-useragent-ie7 .o-grid-no-gutter > .o-grid-row,
.o-useragent-ie7 .o-grid-no-right-gutter > .o-grid-row, .o-useragent-ie8 .o-grid-no-gutter > .o-grid-row,
.o-useragent-ie8 .o-grid-no-right-gutter > .o-grid-row {
  margin-right: 0;
}
