html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.o-grid-row,
.o-grid-box,
.o-grid-page {
  margin: 0 auto;
}

.o-grid-row {
  clear: both;
  width: 100%;
}

.o-grid-row:after {
  content: '';
  display: block;
  clear: both;
}

.o-grid-row,
.o-grid-page {
  max-width: 600px;
  min-width: 240px;
}

.o-grid-row .o-grid-row,
.o-grid-box .o-grid-row {
  margin-left: -1%;
  margin-right: -1%;
  width: auto;
  max-width: none;
  min-width: 0;
}

.o-grid-row .o-grid-row.o-grid-row-compact,
.lt-ie9 .o-grid-row .o-grid-row.o-grid-row-compact {
  margin-left: 0;
  margin-right: 0;
}

/* Default grid: Layout 1 FIXED (well, max-width) */
[class*="o-grid-col"] {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}

.o-grid-row .o-grid-row.o-grid-row-compact > [class*="o-grid-col"] {
  padding-left: 0;
  padding-right: 0;
}

[class*="|0|"],
[class*="|s0|"],
[class*="|hide|"],
[class*="|shide|"] {
  display: none;
}

[class*="|1|"],
[class*="|s1|"] {
  width: 6.33333%;
}

[class*="|2|"],
[class*="|s2|"] {
  width: 14.66667%;
}

[class*="|3|"],
[class*="|s3|"] {
  width: 23%;
}

[class*="|4|"],
[class*="|s4|"] {
  width: 31.33333%;
}

[class*="|5|"],
[class*="|s5|"] {
  width: 39.66667%;
}

[class*="|6|"],
[class*="|s6|"] {
  width: 48%;
}

[class*="|7|"],
[class*="|s7|"] {
  width: 56.33333%;
}

[class*="|8|"],
[class*="|s8|"] {
  width: 64.66667%;
}

[class*="|9|"],
[class*="|s9|"] {
  width: 73%;
}

[class*="|10|"],
[class*="|s10|"] {
  width: 81.33333%;
}

[class*="|11|"],
[class*="|s11|"] {
  width: 89.66667%;
}

[class*="|12|"],
[class*="|s12|"] {
  float: none;
  clear: both;
  width: 98%;
}

.o-grid-no-gutter,
.o-grid-no-gutter-s,
.o-grid-no-left-gutter {
  padding-left: 0;
}
.o-grid-no-gutter > .o-grid-row,
.o-grid-no-gutter-s > .o-grid-row,
.o-grid-no-left-gutter > .o-grid-row {
  margin-left: 0;
}

.o-grid-no-gutter,
.o-grid-no-gutter-s,
.o-grid-no-right-gutter {
  padding-right: 0;
}
.o-grid-no-gutter > .o-grid-row,
.o-grid-no-gutter-s > .o-grid-row,
.o-grid-no-right-gutter > .o-grid-row {
  margin-right: 0;
}
