/**


**/
/* 
	Note: The identically named mixins and functions below is not a mistake; it means they can be used to either 
	output a string or to wrap some style rules in a selector
*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.o-grid-row, .o-grid-box, .o-grid-page {
  margin: 0 auto;
}

.o-grid-row {
  clear: both;
  width: 100%;
}

.o-grid-row:after {
  content: '';
  display: block;
  clear: both;
}

.o-grid-row, .o-grid-page {
  max-width: 600px;
  min-width: 240px;
}

.o-grid-row .o-grid-row, .o-grid-box .o-grid-row {
  margin-left: -1%;
  margin-right: -1%;
  width: auto;
  max-width: none;
  min-width: 0;
}

[data-o-grid-colspan] {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}

.o-grid-row-compact > [data-o-grid-colspan] {
  padding-left: 0;
  padding-right: 0;
}

.o-grid-row.o-grid-row-compact,
.o-grid-row .o-grid-row.o-grid-row-compact {
  margin-left: 0;
  margin-right: 0;
}

[data-o-grid-colspan~="hide"], [data-o-grid-colspan~="0"] {
  display: none;
}

[data-o-grid-colspan~="1"] {
  width: 6.33333%;
}

[data-o-grid-colspan~="2"] {
  width: 14.66667%;
}

[data-o-grid-colspan~="3"] {
  width: 23%;
}

[data-o-grid-colspan~="4"] {
  width: 31.33333%;
}

[data-o-grid-colspan~="5"] {
  width: 39.66667%;
}

[data-o-grid-colspan~="6"] {
  width: 48%;
}

[data-o-grid-colspan~="7"] {
  width: 56.33333%;
}

[data-o-grid-colspan~="8"] {
  width: 64.66667%;
}

[data-o-grid-colspan~="9"] {
  width: 73%;
}

[data-o-grid-colspan~="10"] {
  width: 81.33333%;
}

[data-o-grid-colspan~="11"] {
  width: 89.66667%;
}

[data-o-grid-colspan~="12"] {
  float: none;
  clear: both;
  display: block;
  width: 98%;
}

[data-o-grid-colspan~="Shide"], [data-o-grid-colspan~="S0"] {
  display: none;
}

[data-o-grid-colspan~="S1"] {
  width: 6.33333%;
}

[data-o-grid-colspan~="S2"] {
  width: 14.66667%;
}

[data-o-grid-colspan~="S3"] {
  width: 23%;
}

[data-o-grid-colspan~="S4"] {
  width: 31.33333%;
}

[data-o-grid-colspan~="S5"] {
  width: 39.66667%;
}

[data-o-grid-colspan~="S6"] {
  width: 48%;
}

[data-o-grid-colspan~="S7"] {
  width: 56.33333%;
}

[data-o-grid-colspan~="S8"] {
  width: 64.66667%;
}

[data-o-grid-colspan~="S9"] {
  width: 73%;
}

[data-o-grid-colspan~="S10"] {
  width: 81.33333%;
}

[data-o-grid-colspan~="S11"] {
  width: 89.66667%;
}

[data-o-grid-colspan~="S12"] {
  float: none;
  clear: both;
  display: block;
  width: 98%;
}

.o-grid-no-gutter,
.o-grid-no-left-gutter {
  padding-left: 0;
}
.o-grid-no-gutter > .o-grid-row,
.o-grid-no-left-gutter > .o-grid-row {
  margin-left: 0;
}

.o-grid-no-gutter,
.o-grid-no-right-gutter {
  padding-right: 0;
}
.o-grid-no-gutter > .o-grid-row,
.o-grid-no-right-gutter > .o-grid-row {
  margin-right: 0;
}
