/**


**/
/*
	This mixin allows ie7 and 8 to be targeted using either
	* specific classes for each of ie7 and ie8
	* 'less than' classes targeting ie versions less than a given version e.g. lt-ie9 & lt-ie8
*/
/* 
	Deprecates support for ie7 or 8, making sure that both browser specific and lt- selectors are removed
*/
/* 
	Note: The identically named mixins and functions below is not a mistake; it means they can be used to either 
	output a string or to wrap some style rules in a selector
*/
/* Override fixed defaults for responsive grid */
@media screen and (max-device-width: 600px) {
  /* ensures d12 and d0 can be over-ridden by styles for S layout */
}
@media screen and (min-device-width: 601px) and (max-device-width: 1000px) {
  /* ensures d12 and d0 can be over-ridden by styles for M layout */
}
@media screen and (min-device-width: 1001px) and (max-device-width: 1400px) {
  /* ensures d12 and d0 can be over-ridden by styles for L layout */
}
.o-useragent-ie7, .o-useragent-ie8 {
  /* ensures d12 and d0 can be over-ridden by styles for L layout */
}
@media screen and (min-device-width: 1401px) {
  /* ensures d12 and d0 can be over-ridden by styles for XL layout */
}
/* Styles for presenting the grid. Not part of the grid code. */
/**


**/
/*
	This mixin allows ie7 and 8 to be targeted using either
	* specific classes for each of ie7 and ie8
	* 'less than' classes targeting ie versions less than a given version e.g. lt-ie9 & lt-ie8
*/
/* 
	Deprecates support for ie7 or 8, making sure that both browser specific and lt- selectors are removed
*/
/* 
	Note: The identically named mixins and functions below is not a mistake; it means they can be used to either 
	output a string or to wrap some style rules in a selector
*/
.header {
  margin: 0 0 20px 0;
  padding: 10px;
  background-color: black;
  color: white;
}

.header h1 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}

.header span {
  font-weight: normal;
  color: #bbb;
}

.docs {
  font-family: Arial, Helvetica, sans-serif;
}

.docs a {
  color: #55a;
}

.docs h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  line-height: 24px;
}

.docs h3 {
  margin: 0 0 10px 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
}

.docs h4 {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 18px;
}

.docs p {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 18px;
}

.docs li {
  font-size: 14px;
  line-height: 18px;
}

.docs code {
  background-color: #ffe;
  color: #885;
}

.examples {
  opacity: 0.75;
  background: white;
  position: relative;
}

.underlay {
  position: fixed;
  left: 8px;
  right: 8px;
  height: 100%;
}
.underlay .o-grid-row,
.underlay .col,
.underlay .col > div {
  height: 100%;
}
.underlay .col > div {
  background: pink;
}

.example {
  margin-bottom: 20px;
  overflow: hidden;
}

.dev-inner {
  display: block;
  margin-bottom: 10px;
  min-height: 30px;
  text-align: center;
  overflow: hidden;
  font-size: 10px;
  line-height: 30px;
  background-color: #ddd;
  border: 1px solid #ccc;
  white-space: pre;
  font-family: monospace;
}

[class*='error'] .dev-inner {
  background-color: #faa;
}

.selected-stylesheet {
  background: #aaf;
}

.o-grid-row {
  background-color: #eee;
  padding-bottom: 10px;
}

.dev-inner + .o-grid-row {
  margin-top: 10px;
}

[class*="o-grid-col"] [class*="o-grid-col"] .dev-inner {
  background-color: #fff;
}

@media screen and (max-device-width: 600px) {
  .header .mode:after {
    content: "small layout";
  }
}
@media screen and (min-device-width: 601px) and (max-device-width: 1000px) {
  .header .mode:after {
    content: "medium layout";
  }
}
@media screen and (min-device-width: 1001px) and (max-device-width: 1400px) {
  .header .mode:after {
    content: "large layout";
  }
}
.o-useragent-ie7 .header .mode:after, .o-useragent-ie8 .header .mode:after {
  content: "large layout";
}

@media screen and (min-device-width: 1401px) {
  .header .mode:after {
    content: "extra large layout";
  }
}
.comment {
  display: none;
}

.stylesheet-default .comment.default {
  display: block;
}

.stylesheet-device-width-mq .comment.device-width-mq {
  display: block;
}

.stylesheet-width-mq .comment.width-mq {
  display: block;
}

.stylesheet-non-fluid .comment.non-fluid {
  display: block;
}

.stylesheet-resized .comment.resized {
  display: block;
}

.stylesheet-disabled .comment.disabled {
  display: block;
}

.stylesheet-always-fixed .comment.always-fixed {
  display: block;
}
