html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.ft-grid-row, .ft-grid-row-col,
.ft-grid-box,
.ft-grid-page {
  margin: 0 auto;
}

.ft-grid-row, .ft-grid-row-col {
  clear: both;
  width: 100%;
}

.ft-grid-row:after, .ft-grid-row-col:after {
  content: '';
  display: block;
  clear: both;
}

.ft-grid-row, .ft-grid-row-col,
.ft-grid-page {
  max-width: 600px;
  min-width: 240px;
}

.ft-grid-row .ft-grid-row, .ft-grid-row-col .ft-grid-row, .ft-grid-row .ft-grid-row-col, .ft-grid-row-col .ft-grid-row-col,
.ft-grid-box .ft-grid-row,
.ft-grid-box .ft-grid-row-col {
  margin-left: -1%;
  margin-right: -1%;
  width: auto;
  max-width: none;
  min-width: 0;
}

/* Default grid: Layout 1 FIXED (well, max-width) */
[class*="ft-grid-col"], .ft-grid-row-col {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}

[class*=":0"],
[class*=".s0"],
[class*=":hide"],
[class*=".shide"] {
  display: none;
}

[class*=":1"],
[class*=".s1"] {
  width: 6.33333%;
}

[class*=":2"],
[class*=".s2"] {
  width: 14.66667%;
}

[class*=":3"],
[class*=".s3"] {
  width: 23%;
}

[class*=":4"],
[class*=".s4"] {
  width: 31.33333%;
}

[class*=":5"],
[class*=".s5"] {
  width: 39.66667%;
}

[class*=":6"],
[class*=".s6"] {
  width: 48%;
}

[class*=":7"],
[class*=".s7"] {
  width: 56.33333%;
}

[class*=":8"],
[class*=".s8"] {
  width: 64.66667%;
}

[class*=":9"],
[class*=".s9"] {
  width: 73%;
}

[class*=":10"],
[class*=".s10"] {
  width: 81.33333%;
}

[class*=":11"],
[class*=".s11"] {
  width: 89.66667%;
}

[class*=":12"], .ft-grid-row-col,
[class*=".s12"] {
  float: none;
  clear: both;
  width: 98%;
}

.ft-grid-no-gutter,
.ft-grid-no-gutter-s,
.ft-grid-no-left-gutter {
  padding-left: 0;
}
.ft-grid-no-gutter > .ft-grid-row, .ft-grid-no-gutter > .ft-grid-row-col,
.ft-grid-no-gutter-s > .ft-grid-row,
.ft-grid-no-gutter-s > .ft-grid-row-col,
.ft-grid-no-left-gutter > .ft-grid-row,
.ft-grid-no-left-gutter > .ft-grid-row-col {
  margin-left: 0;
}

.ft-grid-no-gutter,
.ft-grid-no-gutter-s,
.ft-grid-no-right-gutter {
  padding-right: 0;
}
.ft-grid-no-gutter > .ft-grid-row, .ft-grid-no-gutter > .ft-grid-row-col,
.ft-grid-no-gutter-s > .ft-grid-row,
.ft-grid-no-gutter-s > .ft-grid-row-col,
.ft-grid-no-right-gutter > .ft-grid-row,
.ft-grid-no-right-gutter > .ft-grid-row-col {
  margin-right: 0;
}
