// -------------------------------------------------------------------------------------
//	DIMENSIONS
//
//	Do not change without sign-off on design and updating views/docs.mustache
// -------------------------------------------------------------------------------------

// Gutters
$gridHalfGutter: 10px;
$defaultLayoutHalfGutter: 1%;
$legacyLayoutHalfGutter: 5px;

// Page widths
$globalMinWidth: 240px;
$smallMaxWidth: 600px;
$mediumMaxWidth: 780px;
$largeMaxWidth: 960px;
$extraLargeMaxWidth: 1360px;

// Breakpoints
$smallToMediumBreak: 600px;
$mediumToLargeBreak: 1000px;
$largeToXLBreak: 1400px;


// -------------------------------------------------------------------------------------
// CLASS NAMES/PREFIXES
//
// Do not change unless either:
// a) releasing as a new version
// b) intention is to update class names in all apps using the grid
// 
// Also be sure to update views/docs.mustache
// -------------------------------------------------------------------------------------

$gridRow: ft-grid-row;
$gridColumn: ft-grid-col;
$gridBox: ft-grid-box;
$small: s;
$medium: m;
$large: l;
$extraLarge: xl;
$default: d;


// -------------------------------------------------------------------------------------
// STRUCTURAL VARIABLES
//
// !!! DO NOT CHANGE UNLESS MAKING FUNDAMENTAL CHANGES TO HOW THE SASS IS STRUCTURED !!!
// -------------------------------------------------------------------------------------
$maxWidths: $smallMaxWidth,$mediumMaxWidth,$largeMaxWidth,$extraLargeMaxWidth;
$layoutShorthands: $small,$medium,$large,$extraLarge,$default;