// -------------------------------------------------------------------------------------
//	DIMENSIONS
//
//	Do not change without sign-off on design and updating views/docs.mustache
// -------------------------------------------------------------------------------------

// Gutters
$gridHalfGutter: 0.625em;
$defaultLayoutHalfGutter: 1%;
$legacyLayoutHalfGutter: 5px;

// Page widths
$globalMinWidth: 15em;
$smallMaxWidth: 37.5em;
$mediumMaxWidth: 48.75em;
$largeMaxWidth: 60em;
$extraLargeMaxWidth: 85em;

// Breakpoints
$smallToMediumBreak: 600px;
$mediumToLargeBreak: 1000px;
$largeToXLBreak: 1400px;


// -------------------------------------------------------------------------------------
// CLASS NAMES/PREFIXES
//
// Do not change unless either:
// a) releasing as a new version
// b) intention is to update class names in all apps using the grid
// 
// Also be sure to update views/docs.mustache
// -------------------------------------------------------------------------------------

$gridRow: grid-row;
$gridColumn: grid-col;
$small: s;
$medium: m;
$large: l;
$extraLarge: xl;
$default: d;


// -------------------------------------------------------------------------------------
// STRUCTURAL VARIABLES
//
// !!! DO NOT CHANGE UNLESS MAKING FUNDAMENTAL CHANGES TO HOW THE SASS IS STRUCTURED !!!
// -------------------------------------------------------------------------------------
$maxWidths: $smallMaxWidth,$mediumMaxWidth,$largeMaxWidth,$extraLargeMaxWidth;
$layoutShorthands: $small,$medium,$large,$extraLarge,$default;