
<div class="demo">

	<!-- Constant column spans -->
	<div class="o-grid-row demo-row">
		<div data-o-grid-colspan="1"><div class='demo-cell'>1</div></div>
		<div data-o-grid-colspan="1"><div class='demo-cell'>1</div></div>
		<div data-o-grid-colspan="1"><div class='demo-cell'>1</div></div>
		<div data-o-grid-colspan="1"><div class='demo-cell'>1</div></div>
		<div data-o-grid-colspan="1"><div class='demo-cell'>1</div></div>
		<div data-o-grid-colspan="1"><div class='demo-cell'>1</div></div>
		<div data-o-grid-colspan="1"><div class='demo-cell'>1</div></div>
		<div data-o-grid-colspan="1"><div class='demo-cell'>1</div></div>
		<div data-o-grid-colspan="1"><div class='demo-cell'>1</div></div>
		<div data-o-grid-colspan="1"><div class='demo-cell'>1</div></div>
		<div data-o-grid-colspan="1"><div class='demo-cell'>1</div></div>
		<div data-o-grid-colspan="1"><div class='demo-cell'>1</div></div>
	</div>
	<div class="o-grid-row demo-row">
		<div data-o-grid-colspan="2"><div class='demo-cell'>2</div></div>
		<div data-o-grid-colspan="2"><div class='demo-cell'>2</div></div>
		<div data-o-grid-colspan="2"><div class='demo-cell'>2</div></div>
		<div data-o-grid-colspan="2"><div class='demo-cell'>2</div></div>
		<div data-o-grid-colspan="2"><div class='demo-cell'>2</div></div>
		<div data-o-grid-colspan="2"><div class='demo-cell'>2</div></div>
	</div>
	<div class="o-grid-row demo-row">
		<div data-o-grid-colspan="3"><div class='demo-cell'>3</div></div>
		<div data-o-grid-colspan="3"><div class='demo-cell'>3</div></div>
		<div data-o-grid-colspan="3"><div class='demo-cell'>3</div></div>
		<div data-o-grid-colspan="3"><div class='demo-cell'>3</div></div>
	</div>
	<div class="o-grid-row demo-row">
		<div data-o-grid-colspan="4"><div class='demo-cell'>4</div></div>
		<div data-o-grid-colspan="4"><div class='demo-cell'>4</div></div>
		<div data-o-grid-colspan="4"><div class='demo-cell'>4</div></div>
	</div>
	<div class="o-grid-row demo-row">
		<div data-o-grid-colspan="6"><div class='demo-cell'>6</div></div>
		<div data-o-grid-colspan="6"><div class='demo-cell'>6</div></div>
	</div>
	<div class="o-grid-row demo-row" data-o-grid-colspan="12"><div class='demo-cell'>12</div></div>

	<!-- Responsive column spans -->
	<div class='o-grid-row demo-row'>
		<div data-o-grid-colspan="8 S12">
			<div class='demo-cell'>
				8 S12
				<div class="o-grid-row demo-row">
					<div data-o-grid-colspan="6 XL3 S12"><div class='demo-cell'>6 XL3 S12</div></div>
					<div data-o-grid-colspan="6 XL3 S12"><div class='demo-cell'>6 XL3 S12</div></div>
					<div data-o-grid-colspan="6 XL3 S12"><div class='demo-cell'>6 XL3 S12</div></div>
					<div data-o-grid-colspan="6 XL3 S12"><div class='demo-cell'>6 XL3 S12</div></div>
				</div>
			</div>
		</div>
		<div data-o-grid-colspan="4 S12">
			<div class='demo-cell'>
				4 S12
				<div class="o-grid-row demo-row">
					<div data-o-grid-colspan="12 L6 XL6"><div class="demo-cell gut-l">12 L6 XL6</div></div>
					<div data-o-grid-colspan="12 L6 XL6"><div class="demo-cell gut-r">12 L6 XL6</div></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="demo-details o-grid-row">
	<div data-o-grid-colspan="9 S12" class='description'>{{description}}</div>
	<div data-o-grid-colspan="3 S12" class='mode'>Current viewport mode: </div>
</div>

