/* Styles for presenting the grid. Not part of the grid code. */

@import "../_variables.scss";
@import "../_mixins.scss";
@import "../_functions.scss";

#devHead {
	margin: 0 0 20px 0;
    padding: 10px;
	background-color: black;
	color: white;
}

.example {
	margin-bottom: 20px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

.example-title {
	margin: 0 0 10px 0;
	font-size: 18px;
	line-height: 24px;
}

.example-description {
	margin: 0 0 10px 0;
	font-size: 14px;
	line-height: 18px;
}

.example code {
	background-color: #ffe;
	color: #885;
}

.dev-inner {
	display: block;
	margin-bottom: 10px;
	min-height: 30px;
	text-align: center;
	overflow: hidden;
	font-size: 10px;
	line-height: 30px;
	background-color: #ddd;
}

.dev-inner + .grid-row {
	margin-top: 10px;
}

[class*="grid-col"] [class*="grid-col"] .dev-inner {
	border: 1px solid #ccc;
	background-color: #fff;
}

@include respondTo(s) {
	#devHead h1 span:after {
		content: "small layout";
	}
}

@include respondTo(m) {
	#devHead h1 span:after {
		content: "medium layout";
	}
}

@include respondTo(l) {
	#devHead h1 span:after {
		content: "large layout";
	}
}

@include respondTo(xl) {
	#devHead h1 span:after {
		content: "extra large layout";
	}
}