/* Styles for presenting the grid. Not part of the grid code. */

@import "o-useragent/main";
@import "../../src/scss/_variables";
@import "../../src/scss/_utils";
@import "../../src/scss/_selectors";
@import "../../src/scss/_grid-generators";

.header {
	margin: 0 0 20px 0;
    padding: 10px;
	background-color: black;
	color: white;
}

.header h1 {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
}

.header span {
	font-weight: normal;
	color: #bbb;
}

.docs {
	font-family: Arial, Helvetica, sans-serif;
}

.docs a {
	color: #55a;
}

.docs h2 {
	margin: 0 0 10px 0;
	font-size: 18px;
	line-height: 24px;
}

.docs h3 {
	margin: 0 0 10px 0;
	font-size: 16px;
	line-height: 21px;
	font-weight: normal;
}

.docs h4 {
	margin: 0 0 10px 0;
	font-size: 14px;
	line-height: 18px;
}

.docs p {
	margin: 0 0 10px 0;
	font-size: 14px;
	line-height: 18px;
}

.docs li {
	font-size: 14px;
	line-height: 18px;
}

.docs code {
	background-color: #ffe;
	color: #885;
}

.examples {
	opacity: 0.75;
	background: white;
	position: relative;
}

.underlay {
	position: fixed;
	left: 8px;
	right: 8px;
	height: 100%;

	.o-grid-row,
	.col,
	.col > div {
		height: 100%;
	}
	
	.col > div {
		background: pink;
	}
}

.example {
	margin-bottom: 20px;
	overflow: hidden;
}



.dev-inner {
	display: block;
	margin-bottom: 10px;
	min-height: 30px;
	text-align: center;
	overflow: hidden;
	font-size: 10px;
	line-height: 30px;
	background-color: #ddd;
	border: 1px solid #ccc;
	white-space: pre;
	font-family: monospace;

}	 
[class*='error'] .dev-inner {
 	background-color: #faa;
 }

.selected-stylesheet {
	background: #aaf;
}
.o-grid-row {
	background-color: #eee;
	padding-bottom: 10px;
}

.dev-inner + .o-grid-row {
	margin-top: 10px;
}

[class*="o-grid-col"] [class*="o-grid-col"] .dev-inner {
	background-color: #fff;
}

@include oGridRespondTo(S) {
	.header .mode:after {
		content: "small layout";
	}
}

@include oGridRespondTo(M) {
	.header .mode:after {
		content: "medium layout";
	}
}

@include oGridRespondTo(L) {
	.header .mode:after {
		content: "large layout";
	}
}

@include oGridRespondTo(XL) {
	.header .mode:after {
		content: "extra large layout";
	}
}

.comment {
	display: none;
}
@each $type in default device-width-mq width-mq non-fluid resized disabled always-fixed {
	#{'.stylesheet-#{$type}'} {
		#{'.comment.#{$type}'} {
			display: block;
		}
	}
}