//
// Calculates column width as a percentage.
//
// @param $numCols {number} number of columns spanned
//
@function ftGridColumnWidth($numCols) {
	@return (100%/12*$numCols)
}

//
// Calculates column width as a percentage, but subtracts the gutter
//
// @param $numCols {number} number of columns spanned
// @param $halfGutterWidth {number} half the width of column gutters
//
@function ftGridColumnWidthMinusGutter($numCols, $halfGutterWidth) {
	@return (ftGridColumnWidth($numCols)-($halfGutterWidth*2))
}

