@mixin oGridRemoveGuttersLeft($layout-size: default) {
	@include oGridRespondTo($layout-size) {
		padding-left: 0;

		.o-grid-row {
			margin-left: 0;
		}
	}
}

@mixin oGridRemoveGuttersRight($layout-size: default) {
	@include oGridRespondTo($layout-size) {
		padding-right: 0;

		.o-grid-row {
			margin-right: 0;
		}
	}
}

@mixin oGridRemoveGutters($layout-size: default) {
	@include oGridRemoveGuttersLeft($layout-size);
	@include oGridRemoveGuttersRight($layout-size);
}
