// -------------------------------------------------------------------------------------
//	DIMENSIONS
//
//	Do not change without sign-off on design and updating README.md
//  If you need to use different values for these simply include different variable names
//  in a .scss file included before this one
// -------------------------------------------------------------------------------------

// Gutters
$gridHalfGutter: 10px !default;
$defaultLayoutHalfGutter: 1% !default;
$legacyLayoutHalfGutter: 5px !default;

// Page widths
$globalMinWidth: 240px !default;
$smallMaxWidth: 600px !default;
$mediumMaxWidth: 780px !default;
$largeMaxWidth: 960px !default;
$extraLargeMaxWidth: 1360px !default;

// Breakpoints
$smallToMediumBreak: 600px !default;
$mediumToLargeBreak: 1000px !default;
$largeToXLBreak: 1400px !default;

// -------------------------------------------------------------------------------------
// FLAGS
// -------------------------------------------------------------------------------------
$isResponsive: true !default;
$isFluid: false !default;
//$isAlwaysFixed: false !default;
//$isDefaultOnly: false !default;


// -------------------------------------------------------------------------------------
// PATHS
// -------------------------------------------------------------------------------------
$pathToPolyfills: "/polyfills/" !default;


// -------------------------------------------------------------------------------------
// CLASS NAMES/PREFIXES
//
// Do not change unless either:
// a) releasing as a new version
// b) intention is to update class names in all apps using the grid
// 
// Also be sure to update README.md
// -------------------------------------------------------------------------------------

$gridRow: ft-grid-row;
$gridColumn: ft-grid-col;
$gridBox: ft-grid-box;
$small: s;
$medium: m;
$large: l;
$extraLarge: xl;
$default: d;

$fixedLayoutSelector: '.lt-ie9' !default;
//$fixedSize: $large !default;


// -------------------------------------------------------------------------------------
// STRUCTURAL VARIABLES
//
// !!! DO NOT CHANGE UNLESS MAKING FUNDAMENTAL CHANGES TO HOW THE SASS IS STRUCTURED !!!
// -------------------------------------------------------------------------------------
$maxWidths: $smallMaxWidth,$mediumMaxWidth,$largeMaxWidth,$extraLargeMaxWidth;
$layoutShorthands: $small,$medium,$large,$extraLarge,$default;