////
/// @group o-grid
/// @link http://registry.origami.ft.com/components/o-grid
////

// -------------------------------------------------------------------------------------
// Responsive behaviour configuration
// -------------------------------------------------------------------------------------

/// Silent mode
///
/// @type Boolean
///
/// @link http://origami.ft.com/docs/syntax/scss/#silent-styles “Silent” styles in Origami's documentation
$o-grid-is-silent: true !default;

/// Grid mode
///
/// @type String - one of fluid (default), snappy, fixed
$o-grid-mode: 'fluid' !default;

/// Layout to default to when the grid has a fixed width (not fluid)
///
/// @type String - One of $o-grid-layouts
$o-grid-fixed-layout: 'L' !default;

/// Turn the enhanced experience on / off
///
/// When set to `false`, the core experience will be displayed
/// (useful for debugging purposes)
///
/// @type Boolean - set to false to view the core experience only
$o-grid-enable-enhanced-experience: true !default;

/// Show the currently active breakpoint and output loaded settings
/// @link https://github.com/sass-mq/sass-mq#seeing-the-currently-active-breakpoint
///
/// @type Boolean
$o-grid-debug-mode: false !default;


// -------------------------------------------------------------------------------------
// Grid settings and dimensions
// -------------------------------------------------------------------------------------

/// Number of columns
///
/// @type Number (unitless)
$o-grid-columns: 12 !default;

/// Gutter size, in pixels
///
/// @type Number
$o-grid-gutter: 10px !default;

/// Minimum width, in pixels
///
/// @type Number
$o-grid-min-width: 240px !default;

/// When the grid start snapping between fixed-width layouts
/// in the case where a row has the `o-grid-row--snappy` class
///
/// @type String
$o-grid-start-snappy-mode-at: 'M' !default;

/// Combined width of columns, gutters and outer margins
/// for a specific column width
///
/// @param {Number} column-width - desired width of a grid column
///
/// @access private
@function _oGridWidth($column-width) {
	$gutters-combined-width: $o-grid-gutter * ($o-grid-columns - 1) + 0px;
	$outer-margins-combined-width: $o-grid-gutter * 2 + 0px;
	@return ($column-width * $o-grid-columns) + $gutters-combined-width + $outer-margins-combined-width;
}


/// Layouts
/// Each layout is calculated following a specific column width,
/// in order to base breakpoints on the structure of the grid itself
///
/// @type Map
$o-grid-layouts: (
	S:  _oGridWidth($column-width: 30px), // 490px
	M:  _oGridWidth($column-width: 50px), // 730px
	L:  _oGridWidth($column-width: 70px), // 970px
	XL: _oGridWidth($column-width: 90px)  // 1210px
) !default;

/// Layout names
///
/// @access private
/// @type List
$_o-grid-layout-names: map-keys($o-grid-layouts) !default;

// When snappy mode is enabled, force $o-grid-max-width to the largest layout width
// instead of the default $o-grid-max-width
@if $o-grid-mode == 'snappy' {
	$last-layout-index: index($_o-grid-layout-names, $o-grid-fixed-layout);
	$o-grid-max-width: map-get($o-grid-layouts, nth($_o-grid-layout-names, $last-layout-index)) !global;
}

/// Maximum grid width
///
/// @type Number
$o-grid-max-width: _oGridWidth($column-width: 100px) !default; // 1330px
