// -------------------------------------------------------------------------------------
//  DIMENSIONS
//
//  Do not change without sign-off on design and updating README.md
//  If you need to use different values for these simply include different variable names
//  in a .scss file included before this one
// -------------------------------------------------------------------------------------

// Gutters
$ftGridResponsiveHalfGutter: 10px !default;
$ftGridDefaultHalfGutter: 1% !default;
$ftGridFixedHalfGutter: 5px !default;

// Page widths
$ftGridMinWidth: 240px !default;
$ftGridSmallMaxWidth: 600px !default;
$ftGridMediumMaxWidth: 780px !default;
$ftGridLargeMaxWidth: 960px !default;
$ftGridExtraLargeMaxWidth: 1360px !default;

// Breakpoints
$ftGridSmallToMediumBreak: 600px !default;
$ftGridMediumToLargeBreak: 1000px !default;
$ftGridlargeToXlBreak: 1400px !default;

// -------------------------------------------------------------------------------------
// FLAGS
// -------------------------------------------------------------------------------------
$ftGridIsResponsive: true !default;
$ftGridIsFluid: false !default;
$ftGridIsFixedDesktop: false !default;


// -------------------------------------------------------------------------------------
// PATHS
// -------------------------------------------------------------------------------------
$ftGridPathToPolyfills: "/polyfills/" !default;


// -------------------------------------------------------------------------------------
// CLASS NAMES/PREFIXES
//
// Do not change unless either:
// a) releasing as a new version
// b) intention is to update class names in all apps using the grid
// 
// Also be sure to update README.md
// -------------------------------------------------------------------------------------
	
	// candidates to put in a global-sass-variables module
	$lt-ie9: '.lt-ie9' !default;
	$ie8: '.ie8' !default;
	$ie7: '.ie7' !default;

$ftGridNamespace: #{ft-grid-};


$ftGridPage: $ftGridNamespace + page;
$ftGridRow: $ftGridNamespace + row;
$ftGridColumn: $ftGridNamespace + col;
$ftGridBox: $ftGridNamespace + box;

$ftGridSmall: s;
$ftGridMedium: m;
$ftGridLarge: l;
$ftGridExtraLarge: xl;
$ftGridDefault: d;

$ftGridFixedLayoutSelector: $lt-ie9 !default;
//$ftGridFixedSize: $ftGridLarge !default;


// -------------------------------------------------------------------------------------
// STRUCTURAL VARIABLES
//
// !!! DO NOT CHANGE UNLESS EITHER:
//  a) MAKING FUNDAMENTAL CHANGES TO HOW THE SASS IS STRUCTURED
//  b) ADDING EXTRA LAYOUT SIZES (Although technically possible, it's highly
//     inadvisable to do so as components will not typically define styles for 
//     your new layout)
// -------------------------------------------------------------------------------------
$ftGridMaxWidths: $ftGridSmallMaxWidth,$ftGridMediumMaxWidth,$ftGridLargeMaxWidth,$ftGridExtraLargeMaxWidth !default;
$ftGridLayoutShorthands: $ftGridSmall,$ftGridMedium,$ftGridLarge,$ftGridExtraLarge,$ftGridDefault !default;