// -------------------------------------------------------------------------------------
//  DIMENSIONS
//
//  Do not change without sign-off on design and updating README.md
//  If you need to use different values for these simply include different variable names
//  in a .scss file included before this one
// -------------------------------------------------------------------------------------

// Gutters
$ft-grid-responsive-half-gutter: 10px !default;
$ft-grid-default-half-gutter: 1% !default;
$ft-grid-fixed-half-gutter: 5px !default;

// Page widths
$ft-grid-min-width: 240px !default;
$ft-grid-small-max-width: 600px !default;
$ft-grid-medium-max-width: 780px !default;
$ft-grid-large-max-width: 960px !default;
$ft-grid-extra-large-max-width: 1360px !default;

// Breakpoints
$ft-grid-small-to-medium-break: 600px !default;
$ft-grid-medium-to-large-break: 1000px !default;
$ft-grid-large-to-extra-large-break: 1400px !default;

// -------------------------------------------------------------------------------------
// FLAGS
// -------------------------------------------------------------------------------------
$ft-grid-is-responsive: true !default;
$ft-grid-is-fluid: false !default;
$ft-grid-is-fixed-desktop: false !default;
$ft-grid-normalize-body: false !default;


// -------------------------------------------------------------------------------------
// PATHS
// -------------------------------------------------------------------------------------
$ft-grid-path-to-polyfills: "/polyfills/" !default;


// -------------------------------------------------------------------------------------
// CLASS NAMES/PREFIXES
//
// Do not change unless either:
// a) releasing as a new version
// b) intention is to update class names in all apps using the grid
// 
// Also be sure to update README.md
// -------------------------------------------------------------------------------------
	
	// candidates to put in a global-sass-variables module
	$lt-ie9: '.lt-ie9' !default;
	$ie8: '.ie8' !default;
	$ie7: '.ie7' !default;

$ft-grid-namespace: #{ft-grid-};


$ft-grid-page: $ft-grid-namespace + page;
$ft-grid-row: $ft-grid-namespace + row;
$ft-grid-column: $ft-grid-namespace + col;
$ft-grid-box: $ft-grid-namespace + box;

$ft-grid-small: s;
$ft-grid-medium: m;
$ft-grid-large: l;
$ft-grid-extra-large: xl;
$ft-grid-default: d;

$ft-grid-fixed-layout-selector: $lt-ie9 !default;
//$ft-grid-fixed-size: $ft-grid-large !default;


// -------------------------------------------------------------------------------------
// STRUCTURAL VARIABLES
//
// !!! DO NOT CHANGE UNLESS EITHER:
//  a) MAKING FUNDAMENTAL CHANGES TO HOW THE SASS IS STRUCTURED
//  b) ADDING EXTRA LAYOUT SIZES (Although technically possible, it's highly
//     inadvisable to do so as components will not typically define styles for 
//     your new layout)
// -------------------------------------------------------------------------------------
$ft-grid-max-widths: $ft-grid-small-max-width,$ft-grid-medium-max-width,$ft-grid-large-max-width,$ft-grid-extra-large-max-width !default;
$ft-grid-layout-shorthands: $ft-grid-small,$ft-grid-medium,$ft-grid-large,$ft-grid-extra-large,$ft-grid-default !default;