// -------------------------------------------------------------------------------------
//  DIMENSIONS
//
//  Do not change without sign-off on design and updating README.md
//  If you need to use different values for these simply include different variable names
//  in a .scss file included before this one
// -------------------------------------------------------------------------------------

// Gutters
$o-grid-responsive-half-gutter: 10px !default;
$o-grid-default-half-gutter: 1% !default;
$o-grid-fixed-half-gutter: 5px !default;

// Page widths
$o-grid-min-width: 240px !default;
$o-grid-small-max-width: 600px !default;
$o-grid-medium-max-width: 780px !default;
$o-grid-large-max-width: 960px !default;
$o-grid-extra-large-max-width: 1360px !default;

// Breakpoints
$o-grid-small-to-medium-break: 600px !default;
$o-grid-medium-to-large-break: 1000px !default;
$o-grid-large-to-extra-large-break: 1400px !default;

// -------------------------------------------------------------------------------------
// Responsive behaviour configuration
// -------------------------------------------------------------------------------------
$o-grid-is-silent: true !default;
$o-grid-is-responsive: true !default;
$o-grid-is-fluid: true !default;
$o-grid-is-fixed-desktop: false !default;
$o-grid-fixed-layout-useragents: ie7 ie8;	
$o-grid-fixed-layout-selector: null !default;
$o-grid-mq-type: device-width !default;
//$o-grid-fixed-size: $o-grid-large !default;

// -------------------------------------------------------------------------------------
// PATHS
// -------------------------------------------------------------------------------------
$o-grid-name: o-grid;
$o-grid-version: null !default;
$o-grid-assets-path: $o-grid-name !default;


// -------------------------------------------------------------------------------------
// STRUCTURAL VARIABLES
//
// !!! DO NOT CHANGE UNLESS EITHER:
//  a) MAKING FUNDAMENTAL CHANGES TO HOW THE SASS IS STRUCTURED
//  b) ADDING EXTRA LAYOUT SIZES (Although technically possible, it's highly
//     inadvisable to do so as components will not typically define styles for 
//     your new layout)
// -------------------------------------------------------------------------------------
$_o-grid-max-widths: $o-grid-small-max-width $o-grid-medium-max-width $o-grid-large-max-width $o-grid-extra-large-max-width;
$_o-grid-layout-shorthands: S M L XL;
