@import "assets-module/main";
@import "../_variables.scss";
@import "../_mixins.scss";
@import "../_functions.scss";

$o-assets-global-path: "";
$o-grid-assets-path: null;

@import "../components/grid-default.scss";

.o-grid-no-gutter {
	@extend %o-grid-no-gutter !optional;
}
.o-grid-no-left-gutter {
	@extend %o-grid-no-left-gutter !optional;
}
.o-grid-no-right-gutter {
	@extend %o-grid-no-right-gutter !optional;
}
.o-grid-no-gutter-s {
	@extend %o-grid-no-gutter-s !optional;
}
.o-grid-no-left-gutter-m {
	@extend %o-grid-no-left-gutter-m !optional;
}
.o-grid-no-right-gutter-l {
	@extend %o-grid-no-right-gutter-l !optional;
}
.o-grid-no-left-gutter {
	@extend %o-grid-no-left-gutter !optional;
}
.o-grid-no-gutter {
	@extend %o-grid-no-gutter !optional;
}
.o-grid-no-right-gutter {
	@extend %o-grid-no-right-gutter !optional;
}