// Page widths
$ftGridMinWidth: 240px;
$ftGridSmallMaxWidth: 400px;
$ftGridMediumMaxWidth: 580px;
$ftGridLargeMaxWidth: 760px;
$ftGridExtraLargeMaxWidth: 1160px;

// Breakpoints
$ftGridSmallToMediumBreak: 400px;
$ftGridMediumToLargeBreak: 800px;
$ftGridlargeToXlBreak: 1200px;

@import "default.scss";
@import "../components/grid-responsive.scss";
@import "../components/grid-fixed.scss"; 