// Page widths
$ft-grid-min-width: 240px;
$ft-grid-small-max-width: 400px;
$ft-grid-medium-max-width: 580px;
$ft-grid-large-max-width: 760px;
$ft-grid-extra-large-max-width: 1160px;

// Breakpoints
$ft-grid-small-to-medium-break: 400px;
$ft-grid-medium-to-large-break: 800px;
$ft-grid-large-to-extra-large-break: 1200px;

@import "default.scss";
@import "../components/grid-responsive.scss";
@import "../components/grid-fixed.scss"; 