<!DOCTYPE html>
<html>
<head>
	{{> head}}
</head>
<body>

	<div class="header">
		<h1>
			{{#default}}Default{{/default}}
			{{#legacy}}Legacy{{/legacy}}
			{{#isResponsive}}
				{{#always-responsive}}Responsive{{/always-responsive}}
				{{#responsive}}Responsive{{/responsive}}
				{{#resized}}Resized to use 400px, 800px and 1200px breakpoints{{/resized}}
				{{#fluid}}Fluid{{/fluid}}
				{{#disabled}}Extra large layout disabled{{/disabled}}
				<span>(<span class="mode"></span>)</span>
			{{/isResponsive}}
		</h1>
	</div>

	<div class="ft-grid-row">
		<div class="ft-grid-col:12 docs">
			<p><a href="index.html">Back to documentation</a>.</p>
		</div>
	</div>
	
	{{> examples}}
	{{> custom-examples}}
</body>
</html>