<!DOCTYPE html>
<html>
<head>
	{{> head}}
</head>
<body>

	<div class="header">
		<h1>
			{{#default}}Default{{/default}}
			{{#legacy}}Legacy{{/legacy}}
			{{#isResponsive}}
				{{#always-responsive}}Responsive{{/always-responsive}}
				{{#responsive}}Responsive{{/responsive}}
				{{#resized}}Resized to use 400px, 800px and 1200px breakpoints{{/resized}}
				{{#non-fluid}}Non-fluid{{/non-fluid}}
				{{#disabled}}Extra large layout disabled{{/disabled}}
				<span>(<span class="mode"></span>)</span>
			{{/isResponsive}}
		</h1>
	</div>

	<div class="o-grid-row">
		<div data-o-grid-colspan="12" class="docs">
			<p><a href="index.html">Back to documentation</a>.</p>
		</div>
	</div>
	<div class="underlay">
		<div class="o-grid-row">
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
		</div>
	</div>
	<div class="examples">
		{{> examples}}
		{{> custom-examples}}
	</div>
</body>
</html>