<!DOCTYPE html>
<html>
<head>
	{{> head}}
</head>
<body>

	<div class="header">
		<h1>
			{{#default}}Default{{/default}}
			{{#legacy}}Legacy{{/legacy}}
			{{#isResponsive}}
				{{#always-responsive}}Responsive{{/always-responsive}}
				{{#responsive}}Responsive{{/responsive}}
				{{#resized}}Resized to use 400px, 800px and 1200px breakpoints{{/resized}}
				{{#non-fluid}}Non-fluid{{/non-fluid}}
				{{#disabled}}Extra large layout disabled{{/disabled}}
				<span>(<span class="mode"></span>)</span>
			{{/isResponsive}}
		</h1>
	</div>

	<div class="o-grid-row">
		<div data-o-grid-colspan="12" class="docs">
			<p><a href="index.html">Back to documentation</a>.</p>
		</div>
	</div>
	<div class="underlay">
		<div class="o-grid-row">
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
			<div data-o-grid-colspan="1" class="col"><div></div></div>
		</div>
	</div>
	<div class="examples">
		{{> examples}}
		{{> custom-examples}}
		{{> unresponsive}}
		{{> overrides}}
	</div>

        
<script>
!function () {
	var breakpoints = [600, 1000, 1400];

	function getLayout () {
	  return document.documentElement.offsetWidth < 600 ? 'S' :
	      document.documentElement.offsetWidth < 1000 ? 'M' :
	      document.documentElement.offsetWidth < 1400 ? 'L' : 'XL';
	}

	function getExpectedSpans (el) {
	  var layout = getLayout();

	  var rules = el.dataset.oGridColspan,
	    spans;
	  rules.replace(new RegExp('(?:^|\\\s)' + layout + '(\\\d{1,2})', 'g'), function ($0, $1) {
	    spans = $1;
	  });
	  
	  if (typeof spans == 'undefined') {
	    rules.replace(/(?:^|\s)(\d{1,2})/g, function ($0, $1) {
	      spans = $1;
	    });
	  }
	  console.log(rules, 'spans' + spans);
	  return spans;
	}

	function highlightNotExpectedWidth (el) {
	  var expectedPercentage = getExpectedSpans(el) * 100/12,
	    actualPercentage = el.offsetWidth * 100 / el.parentNode.offsetWidth;
	  
	  console.log(expectedPercentage, actualPercentage); 

	  if (expectedPercentage - actualPercentage > 1 || expectedPercentage - actualPercentage < -1) {
	    el.className += ' error';
	  } else {
	    el.className = el.className.replace(/\berror\b/, '');
	  }
	}

	window.testWidths = function () {
		Array.prototype.forEach.call(document.querySelectorAll('[data-o-grid-colspan]'), highlightNotExpectedWidth);
		window.onresize = function () {
		    Array.prototype.forEach.call(document.querySelectorAll('[data-o-grid-colspan]'), highlightNotExpectedWidth);
		}
	};
	
}();
window.testWidths();
</script>

</body>
</html>