name: Test Origami Component
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2.1.5
      with:
        node-version: 14.x
    - run: npm install -g npm@^7
    - run: npm install -g origami-build-tools@v11
    - run: obt install
    - run: obt verify
    - run: obt test
